In [ ]:
# Introduction to Python
Let's have a look at Python as a language and what features does it bring to be among the top 3 coding languages in the world.

In [1]:
# 1. Unlike other languages Python program works on an Interpreter so to run a code all you have to do is type it out
print("Welcome Anurag")

Welcome Anurag

In [2]:
name = input("what is youe name?")

what is youe name?Anurag

In [3]:
print ("welcome to new world, Anurag")

welcome to new world, Anurag

In [4]:
print("welcome to python", name)

welcome to python Anurag

In [5]:
print("00  ")
print("1111")
print("----")
print("2222")

00
1111
----
2222

In [6]:
print("00--00 ")
print("11--11")
print("--00--")
print("2222")

00--00
11--11
--00--
2222

In [7]:
print("&")

&

In [10]:
print ("&"* 10)

&&&&&&&&&&

In [11]:
print ("A" *100)

AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA

In [12]:
print ("A A"* 5)

A AA AA AA AA A

In [13]:
print ("1 0 1" *5)

1 0 11 0 11 0 11 0 11 0 1

In [14]:
v1= "Anurag"
print ("v1")

v1

In [15]:
v1= "anurag"
print (v1)

anurag

In [16]:
v2= 56
print(v2)

56

In [17]:
v3= 5*6
print(v3)

30

In [18]:
v4= (5*10) - (3*8)
print (v4)

26

In [19]:
number =input("what you dob number")
print(number)

what you dob number22
22

In [21]:
name= input("enter your name")
print("Welcome", name)

enter your nameAnurag
Welcome Anurag

In [22]:
age = input("enetr your age")
print ("you are", age*12, "month old")

enetr your age41
you are 414141414141414141414141 month old

In [23]:
age = input("enetr your age")
age= int(age)
print ("you are", age*12, "month old")

enetr your age41
you are 492 month old

In [24]:
age = input("enetr your age")
age= int(age)
print ("you are", age*365, "days old")

enetr your age41
you are 14965 days old

In [26]:
type(interger_num)

NameError: name 'interger_num' is not defined

In [27]:
integer = 1
floating = 1.3
string "anurag"
boolean = True

SyntaxError: invalid syntax (<ipython-input-27-35cb5a145359>, line 3)

In [29]:
type(integer)

NameError: name 'integer' is not defined

In [30]:
type(floating)

NameError: name 'floating' is not defined

In [32]:
type("boolean")

str

In [35]:
type(True)

bool

In [36]:
type(6)

int

In [37]:
type(FALSE)

NameError: name 'FALSE' is not defined

In [38]:
type(True)

bool

In [39]:
type(False)

bool

In [40]:
type(2.3)

float

In [41]:
a= 2.3
print(bool(a))

True

In [42]:
print(float(a))

2.3

In [43]:
print(int(a))

2

In [44]:
print(str(a))

2.3

In [45]:
int(a)

2

In [46]:
float(a)

2.3

In [47]:
str(a)

'2.3'

In [48]:
bool(a)

True

In [50]:
x= 3.5
print(float(int(x)))

3.0

In [51]:
name = varma
print(type(name))

NameError: name 'varma' is not defined

In [52]:
a=4
b=5
c= a+b
print(c)

9

In [53]:
print (c-a)

5

In [54]:
print(a-c-b)

-10

In [55]:
z= c*a
w= b/c
print(z)
print(w)

36
0.5555555555555556

In [56]:
int(w)

0

In [57]:
bool(w)

True

In [58]:
int(w)

0

In [59]:
float(w)

0.5555555555555556

In [60]:
float(z)

36.0

In [63]:
print((a*c)/(b+w))
s=((a*c)/(b+w))
int(s)
bool(s)

6.48

True

In [64]:
int(s)

6

In [66]:
a=2
b=3
c= a**b
print(c)

8

In [67]:
a = 4 + (8 ** 2) - 3 ** 2 % 1 
print(a)

68

In [68]:
x = 3
y = 2.5
z = 5
d= (X + y / z)

NameError: name 'X' is not defined

In [69]:
d= 4 % (1 + 9)**2 - 60 // (7 + 2)
print(d)

-2

In [70]:
type('123')

str

In [71]:
type((123))

int

In [72]:
type([123])

list

In [73]:
type('mike')

str

In [74]:
type("a")

str

In [75]:
print('i love you')

i love you

In [76]:
print("i love u")

i love u

In [77]:
print( "i don't know")

i don't know

In [81]:
print( "hi a\n how are you")

hi a
 how are you

In [82]:
flavour =input("what flavour you like")
dessert =input("what dessert you like")

what flavour you likerum rasisin
what dessert you likeicecream

In [84]:
print("you have", flavour + dessert)

you have rum rasisinicecream

In [85]:
len(flavour)

11

In [86]:
len(dessert)

8

In [87]:
dessert[1]

'c'

In [91]:
dessert[0]
dessert[3]
dessert[5]
dessert[7]

'm'

In [92]:
dessert[-1]

'm'

In [93]:
flavour[-2]

'i'

In [ ]:
string = 'mvqugvqhc2ndoi'

In [94]:
len(string)

NameError: name 'string' is not defined

In [95]:
type('mvqugvqhc2ndoi')

str

In [98]:
string = 'mvqugvqhc2ndoi'

In [99]:
string = 'mvqugvqhc2ndoi

SyntaxError: EOL while scanning string literal (<ipython-input-99-e79cf1a043ec>, line 1)

In [100]:
s = "i dont like small cars, i like sports car"
len(s)

41

In [102]:
sliced_s = s[0:35]

In [103]:
sliced_s = s[0:35]

In [104]:
print(sliced_s)

i dont like small cars, i like spor

In [105]:
sliced_s = s[0:25]
print(sliced_s)

i dont like small cars, i

In [106]:
d= s[0:24]
print(d)

i dont like small cars,

In [114]:
d= s[-1:-16]
print (d)
d= s[16: -1]
print (d)

l cars, i like sports ca

In [115]:
print ('cars' in s)
print (' heavy' in s)

True
False

In [119]:
w = ("I love Python programming")

In [121]:
w= "i love python programming"
len(w)

25

In [127]:
print( w[-18:-12])

python

In [ ]:
"I love Python programming"?

In [128]:
x = 'len'
x[len(x * 2) - 5]

'e'

In [129]:
upper(s)

NameError: name 'upper' is not defined

In [130]:
s= ("i dont know what to do")

In [131]:
print(s)

i dont know what to do

In [132]:
small.upper(s)

NameError: name 'small' is not defined

In [134]:
print(large.s)

NameError: name 'large' is not defined

In [135]:
k= *****34######
print(k.rstrip('#'))

SyntaxError: invalid syntax (<ipython-input-135-178ca80f6db2>, line 1)

In [136]:
f= "i amm going to look for the flat to purchase in pune areas"
print(f)

i amm going to look for the flat to purchase in pune areas

In [138]:
print(f.count('o'))

6

In [139]:
print(f.count('a'))

5

In [140]:
len(f)

58

In [141]:
print(f.count('a', 6))

4

In [143]:
g = 'I love breaking bad'
print(g)
print(g.count('a'))

I love breaking bad
2

In [145]:
a= 'data'
b= 'analysis'
c= 'python'
print (a,b,c)
print (a,b,'using',c)

data analysis python
data analysis using python

In [4]:
a= "bmaunmdbraai"
print(a(0,2,4,6,8,10))
print(a(1,3,5,7,9,11))

TypeError: 'str' object is not callable

In [5]:
type(a)

str

In [6]:
print(a)

bmaunmdbraai

In [7]:
print(a(0 2 4 6 8 10))

SyntaxError: invalid syntax (<ipython-input-7-202ddf04a4f9>, line 1)

In [9]:
print(a(0,2,4,6,8,10))

TypeError: 'str' object is not callable

In [10]:
a= ("bmaunmdbraai")
print(a(0,2,4,6))

TypeError: 'str' object is not callable

In [11]:
b= a[0,2,4,6,8,10]
print(b)

TypeError: string indices must be integers

In [12]:
int(a)

ValueError: invalid literal for int() with base 10: 'bmaunmdbraai'

In [13]:
a= "bmaunmdbraai"
format(a)
len(a)

12

In [14]:
format(a)
print("{0,2,4,6,8,10}", "{1,3,5,7,9,11}", format(a))

{0,2,4,6,8,10} {1,3,5,7,9,11} bmaunmdbraai

In [16]:
a= ("bmaunmdbraai")
print(a('0,2,4,6,8,10'), a('1,3,5,7,9,11'))

TypeError: 'str' object is not callable

In [17]:
s = "OQYWFClFhFGAvIWYwGKpmZhnJiyzTslSIhSwvOsqJMEphzmifTkyqOMNpnOtXZxmCfgDYqbaBHAUvIWhMnvwZnEMVDvmEfLrDoQnAZgQEgXQVnmSYkfedpAdhrtpOgORpYLRZYGWdhWYuqQssCUXtTzKRDAhpjUheOzUroZNzWFtZOVwIapzUYtbSbjYNErzQ"
print(s)
len(s)

OQYWFClFhFGAvIWYwGKpmZhnJiyzTslSIhSwvOsqJMEphzmifTkyqOMNpnOtXZxmCfgDYqbaBHAUvIWhMnvwZnEMVDvmEfLrDoQnAZgQEgXQVnmSYkfedpAdhrtpOgORpYLRZYGWdhWYuqQssCUXtTzKRDAhpjUheOzUroZNzWFtZOVwIapzUYtbSbjYNErzQ

193

In [18]:
print(s.count('a'))

2

In [19]:
print(s.find(45))

TypeError: must be str, not int

In [20]:
s[63:88]

'mCfgDYqbaBHAUvIWhMnvwZnEM'

In [21]:
s[0:45]

'OQYWFClFhFGAvIWYwGKpmZhnJiyzTslSIhSwvOsqJMEph'

In [22]:
s[0:46]

'OQYWFClFhFGAvIWYwGKpmZhnJiyzTslSIhSwvOsqJMEphz'

In [23]:
name = input("whats your name")
number = input("whats your number")

whats your nameAnurag
whats your number937192379

In [24]:
print (name, number)

Anurag 937192379

In [28]:
from random import seed
from random import randint
value = randint (1,999)
value

621

In [29]:
print (name, number, value)

Anurag 937192379 621

In [30]:
list = [name, number, value]
list

['Anurag', '937192379', 621]

In [31]:
value = randint (1,99)
value

5

NameError: name 'lsit' is not defined

In [34]:
l = ["maths", "physics", [1994,2002], 4]
l

['maths', 'physics', [1994, 2002], 4]

In [35]:
l [0]

'maths'

In [37]:
l[2]

[1994, 2002]

In [38]:
l[3]

4

In [39]:
l[-2]

[1994, 2002]

In [41]:
l[-2][0]

1994

In [42]:
l[1:3]

['physics', [1994, 2002]]

In [43]:
l1= [2,4,6,8,12,5,9]
print (1 in l1)
print ( 20 in l1)
print (5 in l1)

False
False
True

In [44]:
l

['maths', 'physics', [1994, 2002], 4]

In [46]:
new_l = l +[10,9]
new_l

['maths', 'physics', [1994, 2002], 4, 10, 9]

In [47]:
new2_l = new_l + ['bio']
new2_l

['maths', 'physics', [1994, 2002], 4, 10, 9, 'bio']

In [50]:
l[1] = "chemistry"
l

['maths', 'chemistry', 'chemistry', 4]

In [51]:
new2_l[6] ="chemistry"
new2_l

['maths', 'physics', [1994, 2002], 4, 10, 9, 'chemistry']

In [52]:
new_1

NameError: name 'new_1' is not defined

In [53]:
l

['maths', 'chemistry', 'chemistry', 4]

In [59]:
l.extend ([10])

In [60]:
l

['maths', 'chemistry', 'chemistry', 4, 10, 10, 10, 10]

In [62]:
l.extend(["bio",4])
l

['maths', 'chemistry', 'chemistry', 4, 10, 10, 10, 10, 'bio', 4]

In [63]:
l

['maths', 'chemistry', 'chemistry', 4, 10, 10, 10, 10, 'bio', 4]

In [66]:
l.append (["science"])
l

['maths', 'chemistry', 'chemistry', 4, 10, 10, 10, 10, 'bio', 4, ['science']]

In [67]:
l.append (23)
l

['maths',
 'chemistry',
 'chemistry',
 4,
 10,
 10,
 10,
 10,
 'bio',
 4,
 ['science'],
 23]

In [74]:
del l[4:6]
l

['maths', 'chemistry', 'chemistry', 4, 10, 'bio', 4, ['science'], 23]

In [76]:
l.pop()

23

In [77]:
l

['maths', 'chemistry', 'chemistry', 4, 10, 'bio', 4, ['science']]

In [78]:
l.remove("chemistry")
l

['maths', 'chemistry', 4, 10, 'bio', 4, ['science']]

In [79]:
l.sort()
l

TypeError: '<' not supported between instances of 'int' and 'str'

In [80]:
l = [2,4,5,23,52,13,12,1]
l

[2, 4, 5, 23, 52, 13, 12, 1]

In [81]:
l.sort()
l

[1, 2, 4, 5, 12, 13, 23, 52]

In [82]:
l.sort(reverse=True)
l

[52, 23, 13, 12, 5, 4, 2, 1]

In [83]:
a= ['ford', 'maruti', 'hyundia', 'volvo']
b= a.sort()
print(a)
print(b)

['ford', 'hyundia', 'maruti', 'volvo']
None

In [84]:
c= sorted(a)
print(c)

['ford', 'hyundia', 'maruti', 'volvo']

In [85]:
print(a)

['ford', 'hyundia', 'maruti', 'volvo']

In [86]:
l = [2, 33, 222, 14, 25]
l[-5]

2

In [87]:
word = ['1','2','3','4']
word[ : ] = [ ] 
print(word)

[]

In [88]:
L = ['one','two','three', 'four', 'five', 'six']
print(sorted(L))
print (L)

['five', 'four', 'one', 'six', 'three', 'two']
['one', 'two', 'three', 'four', 'five', 'six']

In [89]:
print(sorted(a))

['ford', 'hyundia', 'maruti', 'volvo']

In [91]:
s = ('Pythons syntax is easy to learn & Pythons syntax is very clear')
print(s)

Pythons syntax is easy to learn & Pythons syntax is very clear

In [92]:
a

['ford', 'hyundia', 'maruti', 'volvo']

In [94]:
a=b
print(a,b)

None None

In [98]:
a = ['ford','m', 'h', 'v']
B= a.sort()
print(a)
print(B)

['ford', 'h', 'm', 'v']
None

In [99]:
print(sorted(a))

['ford', 'h', 'm', 'v']

In [102]:
a = c
print(a)
print (a,c)

['ford', 'hyundia', 'maruti', 'volvo']
['ford', 'hyundia', 'maruti', 'volvo'] ['ford', 'hyundia', 'maruti', 'volvo']

In [103]:
a[2]= "tata"
print (a,c)

['ford', 'hyundia', 'tata', 'volvo'] ['ford', 'hyundia', 'tata', 'volvo']

In [104]:
input_list =  [['SAS','R'],['Tableau','SQL'],['Python','Java']]
input_list[2][0]

'Python'

In [105]:
input_list[2]

['Python', 'Java']

In [106]:
input_list[0]

['SAS', 'R']

In [107]:
input_list[1]

['Tableau', 'SQL']

In [109]:
f = "kumar"
s = "Ravi"
customer= '003'
print(s , f, customer)

Ravi kumar 003

In [111]:
type(t)

NameError: name 't' is not defined

In [115]:
t = ("disc", 2,4)
t

('disc', 2, 4)

In [116]:
type(t)

tuple

In [117]:
t2= 123,1241,31312,1231
print(t2)

(123, 1241, 31312, 1231)

In [118]:
sort(t2)

NameError: name 'sort' is not defined

In [119]:
t =("anurag", 1981, 2211, "pune")
t

('anurag', 1981, 2211, 'pune')

In [120]:
type(t)

tuple

In [125]:
t[0]
t[-3]

1981

In [126]:
len(t)

4

In [127]:
t[0:3]

('anurag', 1981, 2211)

In [123]:
t[-3]

1981

In [124]:
t[0]

'anurag'

In [130]:
t[-1]

'pune'

In [131]:
t[-1:]

('pune',)

In [132]:
t

('anurag', 1981, 2211, 'pune')

In [134]:
t1 = ("sangeeta", 1980, 1303, "pune")
t1

('sangeeta', 1980, 1303, 'pune')

In [135]:
t2 = t1 +t
t2

('sangeeta', 1980, 1303, 'pune', 'anurag', 1981, 2211, 'pune')

In [136]:
len(t2)

8

In [137]:
t= (2,4,3,5,7,9)
t

(2, 4, 3, 5, 7, 9)

In [138]:
min(t)

2

In [139]:
max(t)

9

In [140]:
sum(t)

30

In [141]:
tuple = (2,3.2,4,5)
min(tuple)
max(tuple)
sum(tuple)

14.2

In [142]:
x =(1,2,3)
x[2]= 5
x

TypeError: 'tuple' object does not support item assignment

In [143]:
t = ("disco", 12, 4.5)
t[0][2]

's'

In [2]:
t= (123, 213, 23, -234, -23, 123 ,354)
min(t)
max(t)

354

In [3]:
min(t)

-234

In [4]:
sum(t)

579

In [5]:
sum(t) - min(t) +max(t)

1167

In [6]:
max(t) - sum(t) + min(t)

-459

In [7]:
t= ("usa", 4, 3, "disc", 7.5)
t

('usa', 4, 3, 'disc', 7.5)

In [9]:
t2 = t[0:3]+ ("hard rock",) + t[4:]
t2

('usa', 4, 3, 'hard rock', 7.5)

In [10]:
t= (23,23,14234,3542,235)
sort(t)

NameError: name 'sort' is not defined

In [11]:
sorted(t)

[23, 23, 235, 3542, 14234]

In [12]:
 x= sorted(t)
y = tuple (x)
y

(23, 23, 235, 3542, 14234)

In [13]:
t= (23, 14, ("anurag", "sangeeta"), 67, 32, ("mba", "mcom"))
t

(23, 14, ('anurag', 'sangeeta'), 67, 32, ('mba', 'mcom'))

In [15]:
t[3][1]

TypeError: 'int' object is not subscriptable

In [16]:
t[3]

67

In [17]:
t[2][1]

'sangeeta'

In [19]:
t[5][0]

'mba'

In [22]:
t[2][0][0]

'a'

In [23]:
t= (23,23,14234,3542,235)
t

(23, 23, 14234, 3542, 235)

In [26]:
(a,b,c,d,e,) = t
c

14234

In [27]:
d

3542

In [28]:
t =()
t

()

In [29]:
print(dir(t))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [30]:
t = (1,5,"Disco", ("Python", "Java"))
t

(1, 5, 'Disco', ('Python', 'Java'))

In [31]:
t = (1, 2, 4, 3)
t

(1, 2, 4, 3)

In [35]:
t[3]

3

In [39]:
x = (Hello,'2','3')
type(x)

NameError: name 'Hello' is not defined

In [41]:
t= ('Monty Python', 'British', 1969)
tupel_2 = t[0:3] + ('Python',)
tupel_2

('Monty Python', 'British', 1969, 'Python')

In [42]:
type(tupel_2)

tuple

In [43]:
a= [2,3,1,32,3,1,3,4,5]
type(a)

list

In [44]:
s= set(a)
s

{1, 2, 3, 4, 5, 32}

In [45]:
len(s)

6

In [46]:
len(a)

9

In [47]:
type(s)

set

In [48]:
s.add("india")
s

{1, 2, 3, 32, 4, 5, 'india'}

In [49]:
s.remove(32)
s

{1, 2, 3, 4, 5, 'india'}

In [50]:
s.remove("india")
s

{1, 2, 3, 4, 5}

In [54]:
s1={2,4,7,9,6}
s1

{2, 4, 6, 7, 9}

In [55]:
print(s,s1)

{1, 2, 3, 4, 5} {2, 4, 6, 7, 9}

In [56]:
print(s |s1)

{1, 2, 3, 4, 5, 6, 7, 9}

In [57]:
print(s.union(s1))

{1, 2, 3, 4, 5, 6, 7, 9}

In [58]:
print (s & s1)

{2, 4}

In [59]:
print(s- s1)

{1, 3, 5}

In [60]:
print(s1-s)

{9, 6, 7}

In [62]:
print (s ^ s1)

{1, 3, 5, 6, 7, 9}

In [63]:
A = [5, 1, 3, 4, 4, 5, 6, 7]
B = [3, 3, 5, 5, 1 ,7 ,2]
s= set(A)
s1 = set(B)
print( s & s1)

{1, 3, 5, 7}

In [64]:
s

{1, 3, 4, 5, 6, 7}

In [65]:
s1

{1, 2, 3, 5, 7}

In [66]:
print(s1-s)

{2}

In [67]:
print(s-s1)

{4, 6}

In [68]:
print (s^s1)

{2, 4, 6}

In [69]:
print( s & s1)

{1, 3, 5, 7}

In [76]:
c= print(s & s1)
c

{1, 3, 5, 7}

In [77]:
c.remove(1)

AttributeError: 'NoneType' object has no attribute 'remove'

In [78]:
print (s | s1)

{1, 2, 3, 4, 5, 6, 7}

In [79]:
d= ( s & s1)
print(d)

{1, 3, 5, 7}

In [82]:
d.remove (1)

KeyError: 1

In [83]:
nums = set([1,1,2,3,3,3,4])
print(len(nums))

4

In [84]:
A = [5, 1, 3, 4, 4, 5, 6, 7]
B = [3, 3, 5, 5, 1 ,7 ,2]
(A.union(B)).difference(A.intersection(B))

AttributeError: 'list' object has no attribute 'union'

In [ ]:
(A.union(B)).difference(A.intersection(B))

In [ ]:
# dictionaries

In [85]:
d= {"india": "inr", "usa": "usd", "europe": "euro"}
d

{'india': 'inr', 'usa': 'usd', 'europe': 'euro'}

In [86]:
d["europe"]

'euro'

In [87]:
d["india"]

'inr'

In [88]:
print(d["usa"] , d["india"])

usd inr

In [89]:
d["usa"] = "$"
d

{'india': 'inr', 'usa': '$', 'europe': 'euro'}

In [91]:
d["japan"]= "yen"
d

{'india': 'inr', 'usa': '$', 'europe': 'euro', 'japan': 'yen'}

In [92]:
del d["europe"]
d

{'india': 'inr', 'usa': '$', 'japan': 'yen'}

In [93]:
sorted(d)

['india', 'japan', 'usa']

In [94]:
d

{'india': 'inr', 'usa': '$', 'japan': 'yen'}

In [96]:
d.values()

dict_values(['inr', '$', 'yen'])

In [98]:
d.keys()

dict_keys(['india', 'usa', 'japan'])

In [100]:
d.update ("usa":"dollor")

SyntaxError: invalid syntax (<ipython-input-100-ebb274171a57>, line 1)

In [102]:
ed= { 101:['Shiva', 24, 'Content Strategist'] ,102:['Udit',25,'Content Strategist'], 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],105:['Huzefa',32,'Project Manager' ]
print(ed)

SyntaxError: invalid syntax (<ipython-input-102-404d0c3575c4>, line 2)

In [ ]:
Employee_data = { 101:['Shiva', 24, 'Content Strategist'] ,102:['Udit',25,'Content Strategist'], 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],105:['Huzefa',32,'Project Manager' ]

In [103]:
Employee_data.keys()

NameError: name 'Employee_data' is not defined

In [104]:
s = "Employee_data"
s

'Employee_data'

In [ ]:
Employee_data ={ 101:['Shiva', 24, 'Content Strategist'] ,102:['Udit',25,'Content Strategist'], 103:['Sonam', 28,'Sr Manager'], 104:['Ansari',29,'Product Lead' ],105:['Huzefa',32,'Project Manager' ]

In [105]:
print(Employee_data)

NameError: name 'Employee_data' is not defined

In [106]:
d= { 102:['Shiva', 24, 'Content Strategist'],104:['Udit',25,'Content Strategist'], 105:['Huzefa',32,'Project Manager' ]}
d

{102: ['Shiva', 24, 'Content Strategist'],
 104: ['Udit', 25, 'Content Strategist'],
 105: ['Huzefa', 32, 'Project Manager']}

In [107]:
d.keys()

dict_keys([102, 104, 105])

In [110]:
d.values()

dict_values([['Shiva', 24, 'Content Strategist'], ['Udit', 25, 'Content Strategist'], ['Huzefa', 32, 'Project Manager']])

In [111]:
sorted(d)

[102, 104, 105]

d = {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}
d

In [113]:
e= {'Jack Dorsey' : 'Twitter' , 'Tim Cook' : 'Apple','Jeff Bezos' : 'Amazon' ,'Mukesh Ambani' : 'RJIO'}
e

{'Jack Dorsey': 'Twitter',
 'Tim Cook': 'Apple',
 'Jeff Bezos': 'Amazon',
 'Mukesh Ambani': 'RJIO'}

In [114]:
sorted(e)

['Jack Dorsey', 'Jeff Bezos', 'Mukesh Ambani', 'Tim Cook']

In [115]:
f = e.values()
f

dict_values(['Twitter', 'Apple', 'Amazon', 'RJIO'])

In [116]:
sorted(f)

['Amazon', 'Apple', 'RJIO', 'Twitter']

In [117]:
print(f)

dict_values(['Twitter', 'Apple', 'Amazon', 'RJIO'])

In [118]:
sorted(f)

['Amazon', 'Apple', 'RJIO', 'Twitter']

In [119]:
d = {'Python':40, 'R':45}
print(list(d.keys()))

['Python', 'R']

In [ ]:
p = [1152, 1154, 1155, 1156, 1157, 1160, 1161, 1162, 1166, 1169, 1170, 1172, 1176, 1050, 1178, 1051, 1052, 1054, 1058, 1060, 1061, 1062, 1065, 1066, 1067, 1068, 1069, 1076, 1077, 1080, 1081, 1083, 1091, 1085, 1088, 1089, 1131, 1092, 1094, 1095, 1099, 1102, 1103, 1104, 1106, 1107, 1108, 1109, 1111, 1117, 1119, 1121, 1150, 1128, 1129, 1136, 1137, 1139, 1140, 1141, 1144, 1148, 1124]
r =

In [120]:
p = [1152, 1154, 1155, 1156, 1157, 1160, 1161, 1162, 1166, 1169, 1170, 1172, 1176, 1050, 1178, 1051, 1052, 1054, 1058, 1060, 1061, 1062, 1065, 1066, 1067, 1068, 1069, 1076, 1077, 1080, 1081, 1083, 1091, 1085, 1088, 1089, 1131, 1092, 1094, 1095, 1099, 1102, 1103, 1104, 1106, 1107, 1108, 1109, 1111, 1117, 1119, 1121, 1150, 1128, 1129, 1136, 1137, 1139, 1140, 1141, 1144, 1148, 1124]

r = [1153, 1158, 1159, 1163, 1164, 1165, 1167, 1168, 1171, 1173, 1174, 1175, 1177, 1053, 1055, 1056, 1057, 1059, 1063, 1064, 1070, 1071, 1072, 1073, 1074, 1075, 1078, 1079, 1082, 1084, 1086, 1087, 1090, 1093, 1096, 1097, 1098, 1100, 1101, 1105, 1110, 1112, 1113, 1114, 1115, 1116, 1118, 1120, 1122, 1123, 1125, 1126, 1127, 1130, 1132, 1133, 1134, 1135, 1138, 1142, 1143, 1145, 1146, 1147, 1149, 1151]

len(p)
len(r)

66

In [121]:
len(p) +len(r)

129

In [125]:
 l = ( p + r)
l

[1152,
 1154,
 1155,
 1156,
 1157,
 1160,
 1161,
 1162,
 1166,
 1169,
 1170,
 1172,
 1176,
 1050,
 1178,
 1051,
 1052,
 1054,
 1058,
 1060,
 1061,
 1062,
 1065,
 1066,
 1067,
 1068,
 1069,
 1076,
 1077,
 1080,
 1081,
 1083,
 1091,
 1085,
 1088,
 1089,
 1131,
 1092,
 1094,
 1095,
 1099,
 1102,
 1103,
 1104,
 1106,
 1107,
 1108,
 1109,
 1111,
 1117,
 1119,
 1121,
 1150,
 1128,
 1129,
 1136,
 1137,
 1139,
 1140,
 1141,
 1144,
 1148,
 1124,
 1153,
 1158,
 1159,
 1163,
 1164,
 1165,
 1167,
 1168,
 1171,
 1173,
 1174,
 1175,
 1177,
 1053,
 1055,
 1056,
 1057,
 1059,
 1063,
 1064,
 1070,
 1071,
 1072,
 1073,
 1074,
 1075,
 1078,
 1079,
 1082,
 1084,
 1086,
 1087,
 1090,
 1093,
 1096,
 1097,
 1098,
 1100,
 1101,
 1105,
 1110,
 1112,
 1113,
 1114,
 1115,
 1116,
 1118,
 1120,
 1122,
 1123,
 1125,
 1126,
 1127,
 1130,
 1132,
 1133,
 1134,
 1135,
 1138,
 1142,
 1143,
 1145,
 1146,
 1147,
 1149,
 1151]

In [127]:
l[49]

1117

In [128]:
l1 =(r +p)
l1

[1153,
 1158,
 1159,
 1163,
 1164,
 1165,
 1167,
 1168,
 1171,
 1173,
 1174,
 1175,
 1177,
 1053,
 1055,
 1056,
 1057,
 1059,
 1063,
 1064,
 1070,
 1071,
 1072,
 1073,
 1074,
 1075,
 1078,
 1079,
 1082,
 1084,
 1086,
 1087,
 1090,
 1093,
 1096,
 1097,
 1098,
 1100,
 1101,
 1105,
 1110,
 1112,
 1113,
 1114,
 1115,
 1116,
 1118,
 1120,
 1122,
 1123,
 1125,
 1126,
 1127,
 1130,
 1132,
 1133,
 1134,
 1135,
 1138,
 1142,
 1143,
 1145,
 1146,
 1147,
 1149,
 1151,
 1152,
 1154,
 1155,
 1156,
 1157,
 1160,
 1161,
 1162,
 1166,
 1169,
 1170,
 1172,
 1176,
 1050,
 1178,
 1051,
 1052,
 1054,
 1058,
 1060,
 1061,
 1062,
 1065,
 1066,
 1067,
 1068,
 1069,
 1076,
 1077,
 1080,
 1081,
 1083,
 1091,
 1085,
 1088,
 1089,
 1131,
 1092,
 1094,
 1095,
 1099,
 1102,
 1103,
 1104,
 1106,
 1107,
 1108,
 1109,
 1111,
 1117,
 1119,
 1121,
 1150,
 1128,
 1129,
 1136,
 1137,
 1139,
 1140,
 1141,
 1144,
 1148,
 1124]

In [129]:
l1[49]

1123

In [130]:
l1[50]

1125

In [131]:
sorted(l)

[1050,
 1051,
 1052,
 1053,
 1054,
 1055,
 1056,
 1057,
 1058,
 1059,
 1060,
 1061,
 1062,
 1063,
 1064,
 1065,
 1066,
 1067,
 1068,
 1069,
 1070,
 1071,
 1072,
 1073,
 1074,
 1075,
 1076,
 1077,
 1078,
 1079,
 1080,
 1081,
 1082,
 1083,
 1084,
 1085,
 1086,
 1087,
 1088,
 1089,
 1090,
 1091,
 1092,
 1093,
 1094,
 1095,
 1096,
 1097,
 1098,
 1099,
 1100,
 1101,
 1102,
 1103,
 1104,
 1105,
 1106,
 1107,
 1108,
 1109,
 1110,
 1111,
 1112,
 1113,
 1114,
 1115,
 1116,
 1117,
 1118,
 1119,
 1120,
 1121,
 1122,
 1123,
 1124,
 1125,
 1126,
 1127,
 1128,
 1129,
 1130,
 1131,
 1132,
 1133,
 1134,
 1135,
 1136,
 1137,
 1138,
 1139,
 1140,
 1141,
 1142,
 1143,
 1144,
 1145,
 1146,
 1147,
 1148,
 1149,
 1150,
 1151,
 1152,
 1153,
 1154,
 1155,
 1156,
 1157,
 1158,
 1159,
 1160,
 1161,
 1162,
 1163,
 1164,
 1165,
 1166,
 1167,
 1168,
 1169,
 1170,
 1171,
 1172,
 1173,
 1174,
 1175,
 1176,
 1177,
 1178]

In [132]:
l[50]

1119

In [133]:
l[49]

1117

In [134]:
l2= (p,r)
l2

([1152,
  1154,
  1155,
  1156,
  1157,
  1160,
  1161,
  1162,
  1166,
  1169,
  1170,
  1172,
  1176,
  1050,
  1178,
  1051,
  1052,
  1054,
  1058,
  1060,
  1061,
  1062,
  1065,
  1066,
  1067,
  1068,
  1069,
  1076,
  1077,
  1080,
  1081,
  1083,
  1091,
  1085,
  1088,
  1089,
  1131,
  1092,
  1094,
  1095,
  1099,
  1102,
  1103,
  1104,
  1106,
  1107,
  1108,
  1109,
  1111,
  1117,
  1119,
  1121,
  1150,
  1128,
  1129,
  1136,
  1137,
  1139,
  1140,
  1141,
  1144,
  1148,
  1124],
 [1153,
  1158,
  1159,
  1163,
  1164,
  1165,
  1167,
  1168,
  1171,
  1173,
  1174,
  1175,
  1177,
  1053,
  1055,
  1056,
  1057,
  1059,
  1063,
  1064,
  1070,
  1071,
  1072,
  1073,
  1074,
  1075,
  1078,
  1079,
  1082,
  1084,
  1086,
  1087,
  1090,
  1093,
  1096,
  1097,
  1098,
  1100,
  1101,
  1105,
  1110,
  1112,
  1113,
  1114,
  1115,
  1116,
  1118,
  1120,
  1122,
  1123,
  1125,
  1126,
  1127,
  1130,
  1132,
  1133,
  1134,
  1135,
  1138,
  1142,
  1143,
  1145,
  1146,
  1147,
  1149,
  1151])

In [140]:
sorted (l2)

[[1152,
  1154,
  1155,
  1156,
  1157,
  1160,
  1161,
  1162,
  1166,
  1169,
  1170,
  1172,
  1176,
  1050,
  1178,
  1051,
  1052,
  1054,
  1058,
  1060,
  1061,
  1062,
  1065,
  1066,
  1067,
  1068,
  1069,
  1076,
  1077,
  1080,
  1081,
  1083,
  1091,
  1085,
  1088,
  1089,
  1131,
  1092,
  1094,
  1095,
  1099,
  1102,
  1103,
  1104,
  1106,
  1107,
  1108,
  1109,
  1111,
  1117,
  1119,
  1121,
  1150,
  1128,
  1129,
  1136,
  1137,
  1139,
  1140,
  1141,
  1144,
  1148,
  1124],
 [1153,
  1158,
  1159,
  1163,
  1164,
  1165,
  1167,
  1168,
  1171,
  1173,
  1174,
  1175,
  1177,
  1053,
  1055,
  1056,
  1057,
  1059,
  1063,
  1064,
  1070,
  1071,
  1072,
  1073,
  1074,
  1075,
  1078,
  1079,
  1082,
  1084,
  1086,
  1087,
  1090,
  1093,
  1096,
  1097,
  1098,
  1100,
  1101,
  1105,
  1110,
  1112,
  1113,
  1114,
  1115,
  1116,
  1118,
  1120,
  1122,
  1123,
  1125,
  1126,
  1127,
  1130,
  1132,
  1133,
  1134,
  1135,
  1138,
  1142,
  1143,
  1145,
  1146,
  1147,
  1149,
  1151]]

In [138]:
l2[50]

IndexError: tuple index out of range

In [141]:
l[0:49]

[1152,
 1154,
 1155,
 1156,
 1157,
 1160,
 1161,
 1162,
 1166,
 1169,
 1170,
 1172,
 1176,
 1050,
 1178,
 1051,
 1052,
 1054,
 1058,
 1060,
 1061,
 1062,
 1065,
 1066,
 1067,
 1068,
 1069,
 1076,
 1077,
 1080,
 1081,
 1083,
 1091,
 1085,
 1088,
 1089,
 1131,
 1092,
 1094,
 1095,
 1099,
 1102,
 1103,
 1104,
 1106,
 1107,
 1108,
 1109,
 1111]

In [142]:
 s= p +r 
s

[1152,
 1154,
 1155,
 1156,
 1157,
 1160,
 1161,
 1162,
 1166,
 1169,
 1170,
 1172,
 1176,
 1050,
 1178,
 1051,
 1052,
 1054,
 1058,
 1060,
 1061,
 1062,
 1065,
 1066,
 1067,
 1068,
 1069,
 1076,
 1077,
 1080,
 1081,
 1083,
 1091,
 1085,
 1088,
 1089,
 1131,
 1092,
 1094,
 1095,
 1099,
 1102,
 1103,
 1104,
 1106,
 1107,
 1108,
 1109,
 1111,
 1117,
 1119,
 1121,
 1150,
 1128,
 1129,
 1136,
 1137,
 1139,
 1140,
 1141,
 1144,
 1148,
 1124,
 1153,
 1158,
 1159,
 1163,
 1164,
 1165,
 1167,
 1168,
 1171,
 1173,
 1174,
 1175,
 1177,
 1053,
 1055,
 1056,
 1057,
 1059,
 1063,
 1064,
 1070,
 1071,
 1072,
 1073,
 1074,
 1075,
 1078,
 1079,
 1082,
 1084,
 1086,
 1087,
 1090,
 1093,
 1096,
 1097,
 1098,
 1100,
 1101,
 1105,
 1110,
 1112,
 1113,
 1114,
 1115,
 1116,
 1118,
 1120,
 1122,
 1123,
 1125,
 1126,
 1127,
 1130,
 1132,
 1133,
 1134,
 1135,
 1138,
 1142,
 1143,
 1145,
 1146,
 1147,
 1149,
 1151]

In [145]:
s.sort(49)

TypeError: sort() takes no positional arguments

In [148]:
print (1099 in r)

False

In [152]:
s.pop()

1178

In [156]:
l[0:4]

[1152, 1154, 1155, 1156]

In [158]:
p[0:4]

[1152, 1154, 1155, 1156]

In [ ]:
#### Identify the senior most employees age

- 45
- 44
- 48
- 42

In [159]:
t={101: 43, 102: 25, 103: 43, 104: 31, 105: 26, 106: 28, 107: 29, 108: 43, 109: 25, 110: 22, 111: 22, 112: 25, 113: 30, 115: 45, 116: 23, 117: 29, 118: 28, 119: 30, 120: 28, 121: 42, 122: 39, 123: 29, 124: 42, 125: 43, 126: 42, 127: 40, 128: 27, 129: 23, 130: 30, 131: 37, 132: 20, 133: 36, 134: 27, 135: 27, 136: 22, 137: 28, 138: 23, 139: 45, 140: 39, 141: 29, 142: 33, 143: 39, 145: 34, 146: 26, 147: 30, 148: 38, 149: 29, 150: 24, 151: 28, 152: 34, 153: 42, 154: 29, 155: 23, 156: 31, 158: 25, 160: 45, 161: 42, 162: 27, 163: 24, 164: 20, 166: 24, 167: 28, 168: 20, 169: 33, 170: 34, 171: 37, 172: 45, 173: 35, 174: 23, 175: 44, 176: 27, 177: 30, 178: 26, 179: 27}
t

{101: 43,
 102: 25,
 103: 43,
 104: 31,
 105: 26,
 106: 28,
 107: 29,
 108: 43,
 109: 25,
 110: 22,
 111: 22,
 112: 25,
 113: 30,
 115: 45,
 116: 23,
 117: 29,
 118: 28,
 119: 30,
 120: 28,
 121: 42,
 122: 39,
 123: 29,
 124: 42,
 125: 43,
 126: 42,
 127: 40,
 128: 27,
 129: 23,
 130: 30,
 131: 37,
 132: 20,
 133: 36,
 134: 27,
 135: 27,
 136: 22,
 137: 28,
 138: 23,
 139: 45,
 140: 39,
 141: 29,
 142: 33,
 143: 39,
 145: 34,
 146: 26,
 147: 30,
 148: 38,
 149: 29,
 150: 24,
 151: 28,
 152: 34,
 153: 42,
 154: 29,
 155: 23,
 156: 31,
 158: 25,
 160: 45,
 161: 42,
 162: 27,
 163: 24,
 164: 20,
 166: 24,
 167: 28,
 168: 20,
 169: 33,
 170: 34,
 171: 37,
 172: 45,
 173: 35,
 174: 23,
 175: 44,
 176: 27,
 177: 30,
 178: 26,
 179: 27}

In [161]:
t1 = t.values()
t1

dict_values([43, 25, 43, 31, 26, 28, 29, 43, 25, 22, 22, 25, 30, 45, 23, 29, 28, 30, 28, 42, 39, 29, 42, 43, 42, 40, 27, 23, 30, 37, 20, 36, 27, 27, 22, 28, 23, 45, 39, 29, 33, 39, 34, 26, 30, 38, 29, 24, 28, 34, 42, 29, 23, 31, 25, 45, 42, 27, 24, 20, 24, 28, 20, 33, 34, 37, 45, 35, 23, 44, 27, 30, 26, 27])

In [162]:
t1

dict_values([43, 25, 43, 31, 26, 28, 29, 43, 25, 22, 22, 25, 30, 45, 23, 29, 28, 30, 28, 42, 39, 29, 42, 43, 42, 40, 27, 23, 30, 37, 20, 36, 27, 27, 22, 28, 23, 45, 39, 29, 33, 39, 34, 26, 30, 38, 29, 24, 28, 34, 42, 29, 23, 31, 25, 45, 42, 27, 24, 20, 24, 28, 20, 33, 34, 37, 45, 35, 23, 44, 27, 30, 26, 27])

In [163]:
sorted(t1)

[20,
 20,
 20,
 22,
 22,
 22,
 23,
 23,
 23,
 23,
 23,
 24,
 24,
 24,
 25,
 25,
 25,
 25,
 26,
 26,
 26,
 27,
 27,
 27,
 27,
 27,
 27,
 28,
 28,
 28,
 28,
 28,
 28,
 29,
 29,
 29,
 29,
 29,
 29,
 30,
 30,
 30,
 30,
 30,
 31,
 31,
 33,
 33,
 34,
 34,
 34,
 35,
 36,
 37,
 37,
 38,
 39,
 39,
 39,
 40,
 42,
 42,
 42,
 42,
 42,
 43,
 43,
 43,
 43,
 44,
 45,
 45,
 45,
 45]

In [165]:
t1.pop()

AttributeError: 'dict_values' object has no attribute 'pop'

In [166]:
t.keys()

dict_keys([101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 158, 160, 161, 162, 163, 164, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179])

In [167]:
t2 = t.keys()
t2

dict_keys([101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 158, 160, 161, 162, 163, 164, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179])

In [168]:
sorted(t2)

[101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 158,
 160,
 161,
 162,
 163,
 164,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179]

In [172]:
t [59][0]

KeyError: 59

In [173]:
t[159]

KeyError: 159

In [175]:
len(t1)

74

In [176]:
sum(t2)

10321

In [180]:
s1 = sum(t2)
s1

10321

In [181]:
summary(s1)

NameError: name 'summary' is not defined

In [182]:
s2 = factor(t2)

NameError: name 'factor' is not defined

In [183]:
mean (t2)

NameError: name 'mean' is not defined

In [184]:
s= sum(t1)
s

2321

In [185]:
m = s/74
m

31.364864864864863

In [186]:
t

{101: 43,
 102: 25,
 103: 43,
 104: 31,
 105: 26,
 106: 28,
 107: 29,
 108: 43,
 109: 25,
 110: 22,
 111: 22,
 112: 25,
 113: 30,
 115: 45,
 116: 23,
 117: 29,
 118: 28,
 119: 30,
 120: 28,
 121: 42,
 122: 39,
 123: 29,
 124: 42,
 125: 43,
 126: 42,
 127: 40,
 128: 27,
 129: 23,
 130: 30,
 131: 37,
 132: 20,
 133: 36,
 134: 27,
 135: 27,
 136: 22,
 137: 28,
 138: 23,
 139: 45,
 140: 39,
 141: 29,
 142: 33,
 143: 39,
 145: 34,
 146: 26,
 147: 30,
 148: 38,
 149: 29,
 150: 24,
 151: 28,
 152: 34,
 153: 42,
 154: 29,
 155: 23,
 156: 31,
 158: 25,
 160: 45,
 161: 42,
 162: 27,
 163: 24,
 164: 20,
 166: 24,
 167: 28,
 168: 20,
 169: 33,
 170: 34,
 171: 37,
 172: 45,
 173: 35,
 174: 23,
 175: 44,
 176: 27,
 177: 30,
 178: 26,
 179: 27}

In [190]:
del.t["143"]

SyntaxError: invalid syntax (<ipython-input-190-c8321e4059e7>, line 1)

In [199]:
t[104] = 27
t[140] = 27
t[164] = 27
t

{101: 43,
 102: 25,
 103: 43,
 104: 27,
 105: 26,
 106: 28,
 107: 29,
 108: 43,
 109: 25,
 110: 22,
 111: 22,
 112: 25,
 113: 30,
 115: 45,
 116: 23,
 117: 29,
 118: 28,
 119: 30,
 120: 28,
 121: 42,
 122: 39,
 123: 29,
 124: 42,
 125: 43,
 126: 42,
 127: 40,
 128: 27,
 129: 23,
 130: 30,
 131: 37,
 132: 20,
 133: 36,
 134: 27,
 135: 27,
 136: 22,
 137: 28,
 138: 23,
 139: 45,
 140: 27,
 141: 29,
 142: 33,
 145: 34,
 146: 26,
 147: 30,
 148: 38,
 149: 29,
 150: 24,
 151: 28,
 152: 34,
 153: 42,
 154: 29,
 155: 23,
 156: 31,
 158: 25,
 160: 45,
 161: 42,
 162: 27,
 163: 24,
 164: 27,
 166: 24,
 167: 28,
 168: 20,
 169: 33,
 170: 34,
 171: 37,
 172: 45,
 173: 35,
 174: 23,
 175: 44,
 176: 27,
 177: 30,
 178: 26,
 179: 27}

In [194]:
del t["143']
t

SyntaxError: EOL while scanning string literal (<ipython-input-194-26dfcf7390e3>, line 1)

In [195]:
f= sum(t)
f

10178

In [200]:
f= t.values()
f

dict_values([43, 25, 43, 27, 26, 28, 29, 43, 25, 22, 22, 25, 30, 45, 23, 29, 28, 30, 28, 42, 39, 29, 42, 43, 42, 40, 27, 23, 30, 37, 20, 36, 27, 27, 22, 28, 23, 45, 27, 29, 33, 34, 26, 30, 38, 29, 24, 28, 34, 42, 29, 23, 31, 25, 45, 42, 27, 24, 27, 24, 28, 20, 33, 34, 37, 45, 35, 23, 44, 27, 30, 26, 27])

In [201]:
ff = sum(f)
ff

2273

In [202]:
len(f)

73

In [204]:
fm = ff/73
fm

31.136986301369863

In [206]:
5 ==5
5 == 6
7 ==9

False

In [207]:
5 == 5

True

In [208]:
10<9

False

In [211]:
10>= 9

True

In [213]:
x= 345
if x< 99:
    print(x , "is less then 99")
else: 
    print( x, " is greater then 99")

345  is greater then 99

In [216]:
if (x<100):
    print('no')
    else:
        if (x>200)
        print ('no')
        
else:
            print('yes')

SyntaxError: invalid syntax (<ipython-input-216-6308c35686f1>, line 3)

In [8]:
x= int (input("enetr your age"))
if x<= 16 or x>=35:
    print("welcome to the party")
else:
    print("sorry")

enetr your age29
sorry

In [12]:
bill = 78
if bill >= 500:
    print("discount voucher of 500")
elif bill <=500 or bill>=250:
    print("voucher of 250")
elif bill <=249 or bill >= 100:
    print ("voucher of 100")
elif bill <=99:
    print(" enjoy shopping with us")

voucher of 250

In [28]:
bill = 356
if bill >= 500:
    print("discount voucher of 500")
elif bill>=250:
    print("voucher of 250")
elif bill >= 100:
    print ("voucher of 100")
else:
      print(" thank you for shopping with us")

voucher of 250

In [33]:
X= 1200
if (X > 1000 & X < 1100):
    print('Yes')
else:
    print('No')

Yes

In [34]:
wc= {2019 : ['England', 'New Zealand'], 2015:["Australia", "New Zealand"], 2011 : ["India", "Sri Lanka"], 2007: ["Australia", "Sri Lanka"], 2003: ["Australia", "India"]}
wc

{2019: ['England', 'New Zealand'],
 2015: ['Australia', 'New Zealand'],
 2011: ['India', 'Sri Lanka'],
 2007: ['Australia', 'Sri Lanka'],
 2003: ['Australia', 'India']}

In [35]:
wc.values()

dict_values([['England', 'New Zealand'], ['Australia', 'New Zealand'], ['India', 'Sri Lanka'], ['Australia', 'Sri Lanka'], ['Australia', 'India']])

In [36]:
wc.keys()

dict_keys([2019, 2015, 2011, 2007, 2003])

In [42]:
wc[2003]

['Australia', 'India']

In [53]:
year = int(input(" enter the yr if India played in finals"))

 enter the yr if India played in finals2019

In [54]:
year

'2019'

In [55]:
if year in wc:
    if "India" in wc [year]:
        print( "India in final")
    else:
        print ("India was not in final")
else: 
    print ("wc didnt played that", year)

wc didnt played that 2019

In [ ]:
world_cups = {2019 : ['England', 'New Zealand'], 2015:["Australia", "New Zealand"], 2011 : ["India", "Sri Lanka"], 2007: ["Australia", "Sri Lanka"], 2003: ["Australia", "India"]}

In [57]:
X = 12

if (X > 10 & X < 15):
    print('YES')
else:
    print('No')

YES

In [63]:
a=10
b=16
c=20

if( b<a, a>c ):
    print("a")
elif( b>a, c<b):
    print("b")
else:
     print("c")

a

In [78]:

score = 40

if score >= 90:
   print('A')
elif score >=80:
   print('B')
elif score >= 70:
   print('C')
elif score >= 60:
   print('D')
else:
   print('F')

F

In [79]:
if (10 < 0) and (0 < -10):
    print("A")
elif (10 > 0) or False:
    print("B")
else:
    print("C")

B

In [80]:
if True or True:
    if False and True or False:
        print('A')
    elif False and False or True and True:
        print('B')
    else:
        print('C')
else:
    print('D')

B

In [95]:
A = 'analytics'
A[0]
b= A[0]
if b= a:
    print("YES")
else:
    print("NO")

SyntaxError: invalid syntax (<ipython-input-95-c82f00b4b0fb>, line 4)

In [101]:
pin = input(" enter your 4 digit pin:")

while pin != '1234':
    pin = input(" invalid input, please try again:")
    
    print("pin validation successful")

 enter your 4 digit pin:23
 invalid input, please try again:2421
pin validation successful
 invalid input, please try again:4321
pin validation successful
 invalid input, please try again:5341
pin validation successful
 invalid input, please try again:1234
pin validation successful

In [ ]:
pin = input(" enter your 4 digit pin:")
attempt = 1

while pin != '1234':
    if attempt >=4:
        sys.exit (" invalid input, please try again:")
    else:
        print("pin validation successful")
    else:
        print("error")

In [ ]:
pin = input(" enter your 4 digit pin:")
attempt = 1

while pin != '1234':
    if attempt >=4:
        pin = input(" invalid input, please try again:")
        print (" invalid input, please try again:")
    elif:
        print("pin validation successful")

In [ ]:
in = input("Enter your four digit pin: ")
attempt_count = 1
while pin != '1234':
    if attempt_count >= 3:
     sys.exit("Too many invalid attempts")   #error code
    pin = input('Invalid input, please try again: ')  
    attempt_count += 1
print("Pin validation successful.")

In [ ]:
l= [23,42,12,42,21]
for var in l:
    print(var)

In [ ]:
l= [23,42,12,42,21]
for var in l:
    print(var)

In [2]:
a= 1234
a.reverse()
print(a)

AttributeError: 'int' object has no attribute 'reverse'

In [5]:
a = "jdjhdjaDS"
a.reverse()
print(a)

AttributeError: 'str' object has no attribute 'reverse'

In [6]:
list1 = [1, 2, 3, 4, 1, 2, 6]
list1.reverse()
print(list1)

[6, 2, 1, 4, 3, 2, 1]

In [8]:
list1 = ["DSZGGG"]
list1.reverse()
print(list1)

['DSZGGG']

In [ ]:
9

In [ ]:
# 2. Python language runs line by line, so incase you want to update a piece of code all you have to do is 
#    update the line let's see how -

In [ ]:
#Imaginary giraffe
print("O    ")
print("|    ")
print("|____")
print(" ||||")
print(" ||||")

O
|
|____
 ||||
 ||||

In [ ]:
#Let's add another print statement 
print("$" * 3)

$$$

Now let's see what happened here  - 

Any character whether it be numeric or text enclosed within " " or ' '  gets considered as a string; 

A string is a data type which contains a series of characters

Just like string, there are numerous types of variables in Python; let's have a look

<h2 style="color:Brown"> Variables</h2>
Python variables are a container that can store any type of value and of any particular size.
Unlike other languages such as C, Java - Variables in Python don't need initialization. Let's create a variable to see how do they work

In [ ]:
var1 = "Mike"
print(var1)

Mike

In [ ]:
var2 = 6
print(var2)

6

Now that we know how to store a variable in Python let's try getting input from a user and storing it in Python

In [ ]:
#To get a input from a user we would use the 'input' function

In [ ]:
number = input("What's your favourite number? ")
print(number)

What's your favorite number? 1
1

In [ ]:
#Let's try taking adding a string to the answer received
name = input("Enter your name : ")
print("Welcome", name)

Enter your name : Jane
Welcome Jane

In [ ]:
#That was helpful, could I also perform operation on input received?
age = input("Enter your age : ")
print("You are " , age*12 , " months old")

Enter your age : 35
You are  353535353535353535353535  months old

In [ ]:
age = input("enter your age ")
age = int(age)
print("You are " , age*12 , " months old")
#Changing the the of variables type is called typecasting

<h2 style="color:Brown"> How to find the Data Type for a variables in Python

Here in the below piece of code you can see that we have assigned each variable with a particular value and use the type method we can check the datatype of the variable

In [ ]:
integer_num = 1
floating_num = 1.3
string = 'Mike'
boolean = True

print (type(integer_num))
print (type(floating_num))
print (type(string))
print (type(boolean))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

- Type Casting in Python

In [ ]:
Now let us try taking an 
a = 1
print ( bool(a))
print ( float(a))
print ( str(a))

True
1.0
1

<h2 style="color:Brown"> Arithmatic Operations

In [ ]:
#
a = 6
b = 7
print("Addition  = ", a + b)  
print("Substraction = ", a - b) 
print("Multiplication = ", a * b) 
print("Division = ", a / b)
print("Floor Division = ", a // b) 
print("Modulus or remainder",a % b) 
print("Exponential = ", a ** b)

Addition  =  13
Substraction =  -1
Multiplication =  42
Division =  0.8571428571428571
Floor Division =  0
Modulus or remainder 6
Exponential =  279936

Now if you recall that the mathematical  operators follow a precedence rule called PEDMAS -
Wherein the fist P is parenthesis, then it's E for exponents, M for multiplication, then D for division, A for addition and finally S for subtraction.


Reference - [Python operator precedence](https://docs.python.org/3.7/reference/expressions.html?#operator-precedence)

In [ ]:
print((4 * 5) - 9 + 6 / 7)

11.857142857142858

<h2 style="color:Brown"> String Operations

We should look at strings as a banner where multiple characters are linked together. The string data is an immutable type which means it cannot be modified.

In [ ]:
#Whenever we are assigning a char or string we use '' which represents a character
c = 'z'
d = 'Mike'
#You can also use " " double quotes instead of single quotes for strings
e = "John"

In [ ]:
#Now when we want to include words with a single quote such as "didn't", "I'll".. we might end up with a error
print('I didn't know that')

SyntaxError: ignored

In [ ]:
#Now to solve this we can use an escape character like 
print('I didn\'t know that')

In [ ]:
# Or we can use double quotes
print("I didn't know that")

In [ ]:
#Now that '\' escape character which we saw earlier can also be used for other stuff like adding a new line
print("Hi Bob \n\nHow are you?")

Hi Bob

How are you?

Now apart adding new lines to a string we can also add another to a pre-existing string, let's see how -

###String Concatenation

In [ ]:
#Let's try building a system that could ask for flavour, and the type of desert user wants
flavour=input("What flavour would you like ")
dessert_type=input("What type of dessert would you like ")
print("You have ordered", flavour+"-"+dessert_type)

What flavour would you like vanilla
What type of dessert would you like shake
You have ordered vanilla-shake

Congrats on building a simple app using input and string functions. Let's take a step ahead and learn more about string manipulation

##String Manipulation

#### Indexing In Strings <br>
- Forward indexing starts with 0
- Reverse indexing starts with the last character as -1 in a python string
- Strings are immutable which, means they cannot be changed once created.
- Strings can be modified by slicing a part of it and concatenating with another

In [ ]:
# Len() function
string = "I have not failed. I’ve just found 10,000 ways that won’t work. – Thomas A. Edison"
len(string)

82

In [ ]:
#Accessing first character
string[-82]

'I'

In [ ]:
#Accessing last character using negative indexing
string[-1]

'H'

In [ ]:
# Trying to change the character at index 2
string[2] = 't'

TypeError: 'str' object does not support item assignment

In [ ]:
# Changing the entire string or say changing the label of it
string = 'I have not failed. I’ve just found 10,000 ways that won’t work.” – Einstien'
print (string)

I have not failed. I’ve just found 10,000 ways that won’t work.” – Einstien

#### Slicing In Strings
- string[start:end:step]

In [ ]:
#slicing by specifying start and end index
statement = "I have not failed. I’ve just found 10,000 ways that won’t work. – Thomas A. Edison"
sliced_statement = statement[0:64]
print(sliced_statement)

I have not failed. I’ve just found 10,000 ways that won’t work.

In [ ]:
batch = "5 girls 3 boys in a class"
girls = batch[ :8]
print(girls)

print(batch[ 8: ])

5 girls
3 boys in a class

In [ ]:
# Membership 
String = "John! Did you attend the conference on advanced machine learning"
print( 'Lincoln' in String)
print ( 'Behzad' not in String)

True
True

#### String methods
- upper()
- lower()
- strip()
- count(substring,begin,end)
- https://docs.python.org/3.7/library/stdtypes.html#string-methods

In [ ]:
# upper() 
small = "i am upper cased"
print(small.upper())

I AM UPPER CASED

In [ ]:
# lower() 
large = "I AM LOWER CASED"
print(large.lower())

i am lower cased

In [ ]:
# rstrip () function
some_sentence = "There is a space at the end    "
print(some_sentence)
print(some_sentence.rstrip())

There is a space at the end
There is a space at the end

In [ ]:
increment = '4%'
print(increment.rstrip('%'))

4

In [ ]:
# lstrip() function
start = "   There is space at the start"
print(start)
print(start.lstrip())

   There is space at the start
There is space at the start

In [ ]:
# strip() function 
spaces = "   Trim whitespaces  "
print(spaces)
print(spaces.strip())

   Trim whitespaces
Trim whitespaces

In [ ]:
num_with_chars = '******444#######'
print(num_with_chars.rstrip('#').lstrip('*'))

444

In [ ]:
#count() Method
string = "This is a sample sentence"
print(string.count('i'))
print(string.count('i',5))

2
1

In [ ]:
#r/R It is used to specify the raw string.% It is used to perform string formatting.

A = "Data"
B = "Analysis"
C = "Pandas"

print("{0} {1} using {2}".format(A,B,C))

Data Analysis using Pandas

In [ ]:
#Now there are a plenty of other string operations available in Python you could explore those using - 
help(str)
#Ignore the methods with a double underscore, for now, those are called the magic methods and we have seen enough magic for the day to be a Python Wizard!!

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(...)
 |      S.__format__(format_spec) -> str
 |
 |      Return a formatted version of S as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(...)
 |      S.capitalize() -> str
 |
 |      Return a capitalized version of S, i.e. make the first character
 |      have upper case and the rest lower case.
 |
 |  casefold(...)
 |      S.casefold() -> str
 |
 |      Return a version of S suitable for caseless comparisons.
 |
 |  center(...)
 |      S.center(width[, fillchar]) -> str
 |
 |      Return S centered in a string of length width. Padding is
 |      done using the specified fill character (default is a space)
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(...)
 |      S.encode(encoding='utf-8', errors='strict') -> bytes
 |
 |      Encode S using the codec registered for encoding. Default encoding
 |      is 'utf-8'. errors may be given to set a different error
 |      handling scheme. Default is 'strict' meaning that encoding errors raise
 |      a UnicodeEncodeError. Other possible values are 'ignore', 'replace' and
 |      'xmlcharrefreplace' as well as any other name registered with
 |      codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(...)
 |      S.expandtabs(tabsize=8) -> str
 |
 |      Return a copy of S where all tab characters are expanded using spaces.
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(...)
 |      S.isalnum() -> bool
 |
 |      Return True if all characters in S are alphanumeric
 |      and there is at least one character in S, False otherwise.
 |
 |  isalpha(...)
 |      S.isalpha() -> bool
 |
 |      Return True if all characters in S are alphabetic
 |      and there is at least one character in S, False otherwise.
 |
 |  isdecimal(...)
 |      S.isdecimal() -> bool
 |
 |      Return True if there are only decimal characters in S,
 |      False otherwise.
 |
 |  isdigit(...)
 |      S.isdigit() -> bool
 |
 |      Return True if all characters in S are digits
 |      and there is at least one character in S, False otherwise.
 |
 |  isidentifier(...)
 |      S.isidentifier() -> bool
 |
 |      Return True if S is a valid identifier according
 |      to the language definition.
 |
 |      Use keyword.iskeyword() to test for reserved identifiers
 |      such as "def" and "class".
 |
 |  islower(...)
 |      S.islower() -> bool
 |
 |      Return True if all cased characters in S are lowercase and there is
 |      at least one cased character in S, False otherwise.
 |
 |  isnumeric(...)
 |      S.isnumeric() -> bool
 |
 |      Return True if there are only numeric characters in S,
 |      False otherwise.
 |
 |  isprintable(...)
 |      S.isprintable() -> bool
 |
 |      Return True if all characters in S are considered
 |      printable in repr() or S is empty, False otherwise.
 |
 |  isspace(...)
 |      S.isspace() -> bool
 |
 |      Return True if all characters in S are whitespace
 |      and there is at least one character in S, False otherwise.
 |
 |  istitle(...)
 |      S.istitle() -> bool
 |
 |      Return True if S is a titlecased string and there is at least one
 |      character in S, i.e. upper- and titlecase characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |      Return False otherwise.
 |
 |  isupper(...)
 |      S.isupper() -> bool
 |
 |      Return True if all cased characters in S are uppercase and there is
 |      at least one cased character in S, False otherwise.
 |
 |  join(...)
 |      S.join(iterable) -> str
 |
 |      Return a string which is the concatenation of the strings in the
 |      iterable.  The separator between elements is S.
 |
 |  ljust(...)
 |      S.ljust(width[, fillchar]) -> str
 |
 |      Return S left-justified in a Unicode string of length width. Padding is
 |      done using the specified fill character (default is a space).
 |
 |  lower(...)
 |      S.lower() -> str
 |
 |      Return a copy of the string S converted to lowercase.
 |
 |  lstrip(...)
 |      S.lstrip([chars]) -> str
 |
 |      Return a copy of the string S with leading whitespace removed.
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(...)
 |      S.partition(sep) -> (head, sep, tail)
 |
 |      Search for the separator sep in S, and return the part before it,
 |      the separator itself, and the part after it.  If the separator is not
 |      found, return S and two empty strings.
 |
 |  replace(...)
 |      S.replace(old, new[, count]) -> str
 |
 |      Return a copy of S with all occurrences of substring
 |      old replaced by new.  If the optional argument count is
 |      given, only the first count occurrences are replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(...)
 |      S.rjust(width[, fillchar]) -> str
 |
 |      Return S right-justified in a string of length width. Padding is
 |      done using the specified fill character (default is a space).
 |
 |  rpartition(...)
 |      S.rpartition(sep) -> (head, sep, tail)
 |
 |      Search for the separator sep in S, starting at the end of S, and return
 |      the part before it, the separator itself, and the part after it.  If the
 |      separator is not found, return two empty strings and S.
 |
 |  rsplit(...)
 |      S.rsplit(sep=None, maxsplit=-1) -> list of strings
 |
 |      Return a list of the words in S, using sep as the
 |      delimiter string, starting at the end of the string and
 |      working to the front.  If maxsplit is given, at most maxsplit
 |      splits are done. If sep is not specified, any whitespace string
 |      is a separator.
 |
 |  rstrip(...)
 |      S.rstrip([chars]) -> str
 |
 |      Return a copy of the string S with trailing whitespace removed.
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(...)
 |      S.split(sep=None, maxsplit=-1) -> list of strings
 |
 |      Return a list of the words in S, using sep as the
 |      delimiter string.  If maxsplit is given, at most maxsplit
 |      splits are done. If sep is not specified or is None, any
 |      whitespace string is a separator and empty strings are
 |      removed from the result.
 |
 |  splitlines(...)
 |      S.splitlines([keepends]) -> list of strings
 |
 |      Return a list of the lines in S, breaking at line boundaries.
 |      Line breaks are not included in the resulting list unless keepends
 |      is given and true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(...)
 |      S.strip([chars]) -> str
 |
 |      Return a copy of the string S with leading and trailing
 |      whitespace removed.
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(...)
 |      S.swapcase() -> str
 |
 |      Return a copy of S with uppercase characters converted to lowercase
 |      and vice versa.
 |
 |  title(...)
 |      S.title() -> str
 |
 |      Return a titlecased version of S, i.e. words start with title case
 |      characters, all remaining cased characters have lower case.
 |
 |  translate(...)
 |      S.translate(table) -> str
 |
 |      Return a copy of the string S in which each character has been mapped
 |      through the given translation table. The table must implement
 |      lookup/indexing via __getitem__, for instance a dictionary or list,
 |      mapping Unicode ordinals to Unicode ordinals, strings, or None. If
 |      this operation raises LookupError, the character is left untouched.
 |      Characters mapped to None are deleted.
 |
 |  upper(...)
 |      S.upper() -> str
 |
 |      Return a copy of S converted to uppercase.
 |
 |  zfill(...)
 |      S.zfill(width) -> str
 |
 |      Pad a numeric string S with zeros on the left, to fill a field
 |      of the specified width. The string S is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  maketrans(x, y=None, z=None, /)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.