In [1]:
l= [23,42,12,42,21]
for var in l:
    print(var)

23
42
12
42
21

In [3]:
s= "Anurag A"
for char in s:
    print(char)

A
n
u
r
a
g

A

In [5]:
s= "Anurag A"
for char in s:
    print(char, end = " ")

A n u r a g   A

In [6]:
L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10]
L3 = [0, 1, 2, 3, 4]

for i in L3:
    L3[i] = L1[i] - L2[i]

In [7]:
l = list(range(1,9))
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [12]:
for i in range(1,9):
    print(i, end = " ")

1 2 3 4 5 6 7 8

In [18]:
print(list(range (1,100,5)))

[1, 6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66, 71, 76, 81, 86, 91, 96]

In [17]:
print(list(range (100,0,-3)))

[100, 97, 94, 91, 88, 85, 82, 79, 76, 73, 70, 67, 64, 61, 58, 55, 52, 49, 46, 43, 40, 37, 34, 31, 28, 25, 22, 19, 16, 13, 10, 7, 4, 1]

In [ ]:
L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10]
L3 = [0, 1, 2, 3, 4]

for i in L3:

In [32]:
for n in range (1,50):
    flag = True
    for i in range (2,n):
        if n % i == 0:
            flag = False
            break
            if flag == True:
                print(n)

In [28]:
for n in range (1,20):
    flag = True
    for i in range (2,n):
        if n % i == 0:
            flag = False
            break
if flag == True:
    print(n)

19

In [24]:
for n in range(1, 20):
    flag = True
    for i in range(2, n):
        if n % i == 0:
            flag = False
            break   
    if flag :
        print(n)

1
2
3
5
7
11
13
17
19

In [29]:
for n in range(1, 20):
    flag = True
    for i in range(2, n):
        if n % i == 0:
            flag = False
            break   
    if flag :
        print(n)

1
2
3
5
7
11
13
17
19

In [30]:
for n in range(1, 30):
    flag = True
    for i in range(2, n):
        if n % i == 0:
            flag = False
            break   
    if flag :
        print(n)

1
2
3
5
7
11
13
17
19
23
29

In [41]:
for n in range(1, 20):
    flag = True
    for i in range(2, n):
        if n % i == 0:
            flag = False
            break   
    if flag :
        print(n , "is a prime")

1 is a prime
2 is a prime
3 is a prime
5 is a prime
7 is a prime
11 is a prime
13 is a prime
17 is a prime
19 is a prime

In [43]:
for n in range(1,10):
    flag = True
    for i in range(2, n):
        print( n, "is not prime", i)
        if n % i == 0:
            flag = False
            break   
    if flag :
        print(n , "is a prime")

1 is a prime
2 is a prime
3 is not prime 2
3 is a prime
4 is not prime 2
5 is not prime 2
5 is not prime 3
5 is not prime 4
5 is a prime
6 is not prime 2
7 is not prime 2
7 is not prime 3
7 is not prime 4
7 is not prime 5
7 is not prime 6
7 is a prime
8 is not prime 2
9 is not prime 2
9 is not prime 3

In [46]:
l = list(range(0, -101,2))
print(i)

3

In [49]:
l = list(range(0, -101,2))
for val in l:

SyntaxError: unexpected EOF while parsing (<ipython-input-49-b8f81d7505d1>, line 2)

In [48]:
l = list(range(-100, -1,2))
print(i)

3

In [53]:
l= list(range(0, -101, 2))
for i in range(0, -101, 2):
    print(i)

In [54]:
l= list(range(0, -101, 2))
for i in range(0, -101, 2):
    print(i)

In [55]:
d = {0: 'Fish', 1: 'Bird', 2: 'Mammal'}
for i in d:
    print(i)

0
1
2

In [3]:
l= ["benz", "toyota", "honda", "audi", "tata", " mahindra"]
l1 =[]
for word in l1:
    l1.append(len(word))
l1

[]

In [5]:
l= ["benz", "toyota", "honda", "audi", "tata", " mahindra"]
l1 =[]
for word in l1:
    l1.append(len(word))
l1

[]

In [11]:
l = ["benz", "toyota", "honda", "audi", "tata", " mahindra"]
l1 = []
for i in l:
    l1.append(len(i))
l1

[4, 6, 5, 4, 4, 9]

In [8]:
l1 = ["automobiles", "Honda", "Benz", "Suzuki", "Morris Garages" ]

l2 = []

for i in l1 :
    l2.append(len(i))
    
l2

[11, 5, 4, 6, 14]

In [12]:
l = ["Anurag", "Akshita", "Sangeeta", "kuhu", "tashi", " titu"]
l1 = []
for i in l:
    l1.append(len(i))
l1

[6, 7, 8, 4, 5, 5]

In [13]:
l = ["Anurag Agarwal", "Akshita", "Sangeeta", "kuhu", "tashi", " titu"]
l1 = []
for i in l:
    l1.append(len(i))
l1

[14, 7, 8, 4, 5, 5]

In [17]:
l = ["Anurag Agarwal", "Akshita", "Sangeeta", "kuhu", "tashi", " titu"]
l2 =[len(i) for i in l]
l2

[14, 7, 8, 4, 5, 5]

In [14]:
l2 =[len(i) for i in l1 ]

TypeError: object of type 'int' has no len()

In [19]:
l = ["Anurag Agarwal", "Akshita", "Sangeeta", "kuhu", "tashi", " titu" ]
l2 =[len(i) for i in l]
l2

[14, 7, 8, 4, 5, 5]

In [20]:
L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10]
L3 = []
for  i in range(len(L1)):
    L3.append(L1[i] - L2[i])
L3

[2, 6, 15, 4, 8]

In [24]:
l = ["Anurag Agarwal", "Akshita", "Sangeeta", "kuhu", "tashi", " titu" ]
l2 =[len(i) for i in l]
l2

[14, 7, 8, 4, 5, 5]

In [26]:
for i ,j in zip(l,l2):
    print(i, " - ", j)

Anurag Agarwal  -  14
Akshita  -  7
Sangeeta  -  8
kuhu  -  4
tashi  -  5
 titu  -  5

In [29]:
l = ["Anurag Agarwal", "Akshita", "Sangeeta", "kuhu", "tashi", " titu" ]
d= {word: len(word) for word in l}
d

{'Anurag Agarwal': 14,
 'Akshita': 7,
 'Sangeeta': 8,
 'kuhu': 4,
 'tashi': 5,
 ' titu': 5}

In [30]:
ordinary_dict ={}

for i in range(2,21):
    if i % 2 == 0:
        ordinary_dict[i] = i**2

print(ordinary_dict)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 12: 144, 14: 196, 16: 256, 18: 324, 20: 400}

In [31]:
updated_dict = {i : i**2 for i in range(2,21) if i % 2 ==0}
print(updated_dict)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 12: 144, 14: 196, 16: 256, 18: 324, 20: 400}

In [34]:
w= input("enter a word:")

enter a word:anurag weds sangeeta in june

In [35]:
w= input("enter a word:")
for i in w:
    if i in "aeiou":
        print(i)

enter a word:anurag weds sangeeta in june
a
u
a
e
a
e
e
a
i
u
e

In [42]:
w= input("enter a word:")
vowel =(i for i in w if i is "aeiou")
vowels = "aeiou"
vowels

enter a word:anurag

'aeiou'

In [75]:
n= input()
n  = {i**2 for i in range(1,5) if i % 1 ==0}
print(n)

67
{16, 1, 4, 9}

In [76]:
input_list = list(range(1,100))
output_dict = {}

for val in input_list:
    if val % 3 == 0:
        output_dict[val] = val**3

SyntaxError: invalid syntax (<ipython-input-51-26f72538bc60>, line 1)

In [81]:
input_list = list(range(1,100))
output_dict = {val : val**3 for val in input_list if val % 3 == 0}

for val in input_list:
    if val % 3 == 0:
        output_dict[val] = val**3

In [46]:
n1 ={}

for i in range(2,9):
    if i % 2 == 0:
        ordinary_dict[i] = i**2

print(n1)

{}

In [86]:

a= (list(range(1,100)))
d = {val : val**3 for val in input_list if val % 3 == 0}

for val in input_list:
    if val % 3 == 0:
        d[val] = val**3

In [87]:
a= (list(range(1,100)))
d = {val : val**3 for val in input_list if val % 3 == 0}

for val in input_list:
    if val % 3 == 0:
        d[val] = val**3

In [88]:
print([i+j for i in "abc" for j in "def"])

['ad', 'ae', 'af', 'bd', 'be', 'bf', 'cd', 'ce', 'cf']

In [89]:
print([i+j for i in "1324" for j in "2135"])

['12', '11', '13', '15', '32', '31', '33', '35', '22', '21', '23', '25', '42', '41', '43', '45']

In [96]:
print([j+i for i in "1324" for j in "2135"])

['21', '11', '31', '51', '23', '13', '33', '53', '22', '12', '32', '52', '24', '14', '34', '54']

In [98]:
print([i+j for i in "anu" for j in "sang"])

['as', 'aa', 'an', 'ag', 'ns', 'na', 'nn', 'ng', 'us', 'ua', 'un', 'ug']

In [99]:
d = {x.upper(): x*3 for x in 'acbd'}
print(d)

{'A': 'aaa', 'C': 'ccc', 'B': 'bbb', 'D': 'ddd'}

In [101]:
d = {x.upper(): x*3 for x in 'ABc'}
print(d)

{'A': 'AAA', 'B': 'BBB', 'C': 'ccc'}

In [104]:
d = {x.lower(): x*2 for x in 'AbCd'}
print(d)

{'a': 'AA', 'b': 'bb', 'c': 'CC', 'd': 'dd'}

In [106]:
d = {x.lower(): x*4 for x in 'AbCd'}
print(d)

{'a': 'AAAA', 'b': 'bbbb', 'c': 'CCCC', 'd': 'dddd'}

In [109]:
l= ['wood','old','apple','big','item','euphoria']
for i in l:
    if i in "aeiou":
        print(i)

In [112]:

a= input()
l= a
for i in l:
    if i in "aeiou":
        print(i)

wood','old','apple','big','item','euphoria'
o
o
o
a
e
i
i
e
e
u
o
i
a

In [113]:
n= 5:
    n

SyntaxError: invalid syntax (<ipython-input-113-1769cbaaeee1>, line 1)

In [118]:
def factorial(n):
    fact=1
    for i in range(n, n+1):
        fact = fact+1
    return fact
factorial(5)

2

In [126]:
def factorial(n):
    
    fact=1
    
    for i in range(1, n+1):
         fact*= i
        
    return fact

factorial(6)

720

In [123]:
def factorial(n):
    
    fact = 1
    
    for i in range(1, n+1):
        fact *= i
    
    return fact

factorial(5)

120

In [127]:
factorial(5)

120

In [128]:
factorial(11)

39916800

In [150]:
x= int(input())
y= int(input())
n= (x**y)
def squared(n):
    fact=1
    for i in range (1,10):
        fact=i
        return fact
    squared(n)

6
7

In [ ]:
x= int(input())
y= int(input())
n= (x**y)
print(n)

In [ ]:
x= input()
y= input()
n= (x**y)
n

In [ ]:
x= input()
y= input()
n= (x**y)
n

In [3]:

func(x, y):
    z = x * y + x + y

func(2)

SyntaxError: invalid syntax (<ipython-input-3-7def51206d55>, line 3)

In [4]:
def func(x, y):
    z = x * y + x + y

func(2)

TypeError: func() missing 1 required positional argument: 'y'

In [1]:
input_list = ['wood','old','apple','big','item','euphoria']

list_vowel = [i for i in input_list if i.lower().startswith(('a','e','i','o','u'))]

print(list_vowel)

['old', 'apple', 'item', 'euphoria']

In [14]:
def func( name, age= 41):
    print("name:", name)
    print("age:", age)

In [13]:
func("anurag")

name: anurag
age: 41

In [15]:
func("sangeeta")

name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41
name: sangeeta
age: 41

RecursionError: maximum recursion depth exceeded while calling a Python object

In [10]:
def func(name, age = 35): 
    print("name : ", name)
    print("age : ", age)

In [11]:
func("anurag")

name :  anurag
age :  35

In [22]:
def func(x, y= 2):
    z = x * y + x + y

func(2)

In [23]:
func(2)

In [20]:
def func(x, y = 1):
    z = x * y + x + y
    return z

func(2, func(3))

23

In [21]:
def func(x, y):
    z = x * y + x + y
    return z

func(2, func(3))

TypeError: func() missing 1 required positional argument: 'y'

In [24]:
def func(x = 1 ,y = 2):
    z = x * y + x + y
    return z

func(2, func(3))

35

In [34]:
L1 = [2, 7, 8, 10, 3]

def func(y):
    return x*2- 2 * y - 2

ans_list = [func(x) for y in L1]
ans_list

NameError: name 'x' is not defined

In [38]:
f= lambda x: "even" if x% 2== 0 else "odd"
f(4)

'even'

In [40]:
x= 9
y= 3
f= lambda x: "x" if x>= y else "y"

In [49]:
x= input()
y= input()
f= lambda x: "x" if x ("greater then y") else "y"

9
3

In [46]:
print(greater(x,y))

NameError: name 'greater' is not defined

In [50]:
x= input()
y= input()
f= lambda x: "x" if x>= y else "y"

9
3

In [51]:
min = (lambda x, y: x if x < y else y)
min(101*99, 102*98)

9996

In [56]:

f = lambda a, b: a if a > b else b

In [60]:
f(4,4)

4

In [ ]:
f = lambda a, b, c: a if a > b, b if b > a else c

In [61]:
f(3,2,1)

TypeError: <lambda>() takes 2 positional arguments but 3 were given

In [62]:
f = lambda a, b: a if a > b else b

In [63]:
f(-9,-7)

-7

In [64]:
n = ["Anurag", "Sangeeta", "kuhu", "Tashi", "Mama", "phupa"]
f= lambda x: x.upper()

f("Tashi")

'TASHI'

In [65]:
f("Anurag")

'ANURAG'

In [67]:
n = ["Anurag", "Sangeeta", "kuhu", "Tashi", "Mama", "phupa"]
f= lambda x: x.lower()

f("Anurag")

'anurag'

In [69]:
list(map( lambda x: x.upper(), n))

['ANURAG', 'SANGEETA', 'KUHU', 'TASHI', 'MAMA', 'PHUPA']

In [70]:
l= [34,53,21,13,342]
f= lambda l: l**2

list(map(f,l))

[1156, 2809, 441, 169, 116964]

In [71]:
l= [34,53,21,13,342]
f= lambda l: l**3

list(map(f,l))

[39304, 148877, 9261, 2197, 40001688]

In [72]:
l= [34,53,21,13]
def squareit (n):
    return n**2

list(map(squareit,l))

[1156, 2809, 441, 169]

In [73]:
list_numbers = (1,2,3,4)
sample_map = map(lambda x: x*2, list_numbers)
print(list(sample_map))

[2, 4, 6, 8]

In [74]:
l = [42,123,234,54,3,9,12,54,67]
d= lambda x: x%3 ==0
d1 = filter(d,l)

list(d1)

[42, 123, 234, 54, 3, 9, 12, 54]

In [77]:
l = [42,123,234,54,3,9,12,54,67]
d= lambda x: x%4 ==0
d1 = filter(d,l)

list(d1)

[12]

In [80]:
l = [42,123,234,54,3,9,12,54,67]
d= lambda x: x%6 ==0
d1 = filter(d,l)

list(d1)

[42, 234, 54, 12, 54]

In [88]:
s= {1:['Sam', 15] , 2:['Rob',18], 3:['Kyle', 16], 4:['Cornor',19], 5:['Trump',20]}
s

{1: ['Sam', 15],
 2: ['Rob', 18],
 3: ['Kyle', 16],
 4: ['Cornor', 19],
 5: ['Trump', 20]}

In [91]:
f= lambda x: x[1] > 18
d= filter (f,s.values())
list(d)

[['Cornor', 19], ['Trump', 20]]

In [92]:
f= lambda x: x[1] < 18
d= filter (f,s.values())
list(d)

[['Sam', 15], ['Kyle', 16]]

In [94]:
len(list(d))

0

In [95]:
students_data = {1:['Sam', 15] , 2:['Rob',18], 3:['Kyle', 16], 4:['Cornor',19], 5:['Trump',20]}

len(list(filter(lambda x : x[1] > 18, students_data.values())))

2

In [96]:
from functools import reduce

q  = reduce(lambda x, y: x*y, range(1,4))

print(q)

6

In [100]:
l= range(1,7)
list(l)

[1, 2, 3, 4, 5, 6]

In [102]:

f= lambda x,y: x*y
f(2,3)

6

In [106]:
q= reduce(lambda x,y: x*y, 1)
q

TypeError: reduce() arg 2 must support iteration

In [108]:

l

['Santa Cruz', 'Santa fe', 'Mumbai', 'Delhi']

In [115]:
l=()
w= (i for i in l if i is ("s", "S")
    w

SyntaxError: invalid syntax (<ipython-input-115-b43f4beb9726>, line 3)

In [130]:
l =['Santa Cruz','Santa fe','Mumbai','Delhi']
d= [i for i in l if i.lower().startswith (('s'))]

len(d)

2

In [131]:
l1=  ['Ankur', 'Avik', 'Kiran', 'Nitin']
l2 = ['Narang', 'Sarkar', 'R', 'Sareen']

[['Ankur', 'Avik', 'Kiran', 'Nitin', 'Narang', 'Sarkar', 'R', 'Sareen']]

In [135]:
l4 = [ l1[0]+' '+l2[0], l1[1]+' '+l2[1], l1[2]+' '+l2[2], l1[3]+' '+l2[3] ]
l4

['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']

In [136]:
l1=  ['Ankur', 'Avik', 'Kiran', 'Nitin']
l2 = ['Narang', 'Sarkar', 'R', 'Sareen']
l4 = [ l1[0]+' '+l2[0], l1[1]+' '+l2[1], l1[2]+' '+l2[2], l1[3]+' '+l2[3] ]
l4

['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']

In [138]:
l= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
f= lambda x: x % 5 == 0
d= filter( f, l)
list(d)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [139]:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
f= lambda x: x % 5 == 0
list(filter (f,l)

SyntaxError: unexpected EOF while parsing (<ipython-input-139-34a3663bf97b>, line 3)

In [141]:
l= ['soap','sharp','shy','silent','ship','summer','sheep']
d= [i for i in l if i.lower().startswith (('s'))]
print(d)

['soap', 'sharp', 'shy', 'silent', 'ship', 'summer', 'sheep']

In [142]:
d1 = [i for i in d if i.lower().endswith (('p'))]
print(d1)

['soap', 'sharp', 'ship', 'sheep']

In [143]:
l= ['soap','sharp','shy','silent','ship','summer','sheep']
d= [i for i in l if i.lower().startswith (('s'))]
d1 = [i for i in d if i.lower().endswith (('p'))]
print(d1)

['soap', 'sharp', 'ship', 'sheep']

In [148]:
l= ['soap','sharp','shy','silent','ship','summer','sheep']
d= [i for i in l if i.lower().startswith (('s')): endswith (('p'))]

print(d)

SyntaxError: invalid syntax (<ipython-input-148-1031995b0092>, line 2)

In [149]:
l= ['soap','sharp','shy','silent','ship','summer','sheep']
d= [i for i in l if i.lower().startswith (('s'))]
d1 = [i for i in d if i.lower().endswith (('p'))]
print(d1)

['soap', 'sharp', 'ship', 'sheep']

In [150]:
l= [65,76,87,23,12,90,99]
max(l)

99

In [1]:
l1 = [5, 8, 9, 12]
l2 = [10, 12, 8, 6]
l3=[]
for i in range (len(l1):
                l3.append [l1[i]+ l2[i]]

SyntaxError: invalid syntax (<ipython-input-1-b667c51fa68e>, line 4)

In [9]:
class Rectangle :
    def __init__(self):
        self.length = 8
        self.breadth = 4
        
        rect = Rectangle ()
        print(rect.length, rect.breadth)

In [5]:
class Rectangle :
    def __init__(self):
        self.length = 10
        self.breadth = 5

In [10]:
   rect = Rectangle ()
        print (rect.length, rect.breadth)

IndentationError: unexpected indent (<ipython-input-10-df6c6f04ecc3>, line 2)

In [19]:
class Employee:
    def __init__ self: 
        self.age = 41
        self.name = Anurag
        self.eid = 13701

SyntaxError: invalid syntax (<ipython-input-19-af70f2b7a2f2>, line 2)

In [17]:
emp = Employee()
print( self.age, self.name, self.eid)

TypeError: __init__() missing 3 required positional arguments: 'age', 'name', and 'eid'

In [18]:
class Student:
    def __init__(self):
        self.age = 10
        self.name = "Name"

In [20]:
class Student:
    standard = 'IV'
    def __init__(self,age,name,Cid):
        self.age = age
        self.name = name
        self.id = Cid

student1 = Student(12,"Raj",24)
XXXXXXXXXX
print(student1.standard)

NameError: name 'XXXXXXXXXX' is not defined

In [21]:
class A :
    x = 10
    def __init__(self, y,z):
        self.y = y
        self.z = z
           
    def update_y(self):
        self.y = self.y * self.x
        self.z = self.z * self.x
        
A1 = A(3,4)
A2 = A(5,6)

A1.update_y()
A1.y + A2.z

36

In [22]:
class A :
    x = 10
    def __init__(self, y,z):
        self.y = y
        self.z = z
           
    def update_y(self):
        self.y = self.y * self.x
   
    @classmethod
    def update_z(cls):
        self.z = self.z + 20

        
A1 = A(3,4)
A2 = A(5,6)

A2.update_z()
A1.y + A2.z

NameError: name 'self' is not defined

In [23]:
class A :
    x = 10
    def __init__(self, y,z):
        self.y = y
        self.z = z
           
    def update_y(self):
        self.y = self.y * self.z

        
        
A1 = A(3,4)
A2 = A(5,6)

A.x = 30
A1.y + A2.x

33

In [1]:
class A:
    def __init__(self, x=1):
        self.x = x
class B(A):
    def __init__(self,y =2):
        super().__init__()
        self.y = y

def main():
    b = B()
    print(b.x,b.y)
main()

1 2

In [2]:
class A:
    def __init__(self, x=1):
        self.x = x
class B(A):
    def __init__(self,y =2):
        super().__init__()
        self.y = y

def main():
    b = B()
    print(b.x,b.y)
main()

1 2

In [13]:
d= { 102:['Shiva', 24, 'Content Strategist'],104:['Udit',25,'Content Strategist'], 105:['Huzefa',32,'Project Manager' ]}
d1 =d[]

SyntaxError: invalid syntax (<ipython-input-13-d98b813854f0>, line 2)

In [7]:
d.keys()

dict_keys([102, 104, 105])

In [8]:
d.values()

dict_values([['Shiva', 24, 'Content Strategist'], ['Udit', 25, 'Content Strategist'], ['Huzefa', 32, 'Project Manager']])

In [10]:
e= d.values()
e

dict_values([['Shiva', 24, 'Content Strategist'], ['Udit', 25, 'Content Strategist'], ['Huzefa', 32, 'Project Manager']])

In [11]:
e[2][1]

TypeError: 'dict_values' object is not subscriptable

In [12]:
e[2]

TypeError: 'dict_values' object is not subscriptable

In [15]:
s= '  ******2489####  '
print(s)
print(s.strip)

  ******2489####
<built-in method strip of str object at 0x00000000056541C0>

In [16]:
print(s.rstrip('#').lstrip('*'))

  ******2489####

In [17]:
a= "bmaunmdbraai"
a

'bmaunmdbraai'

In [18]:
print("{0}","{2}","{4}","{6}","{8}".format(a))

IndexError: tuple index out of range

In [19]:
help(str)

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Use keyword.iskeyword() to test for reserved identifiers such as "def" and
 |      "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |        sep
 |          The delimiter according which to split the string.
 |          None (the default value) means split according to any whitespace,
 |          and discard empty strings from the result.
 |        maxsplit
 |          Maximum number of splits to do.
 |          -1 (the default value) means no limit.
 |
 |      Splits are done starting at the end of the string and working to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |      sep
 |        The delimiter according which to split the string.
 |        None (the default value) means split according to any whitespace,
 |        and discard empty strings from the result.
 |      maxsplit
 |        Maximum number of splits to do.
 |        -1 (the default value) means no limit.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace remove.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(x, y=None, z=None, /)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

In [20]:
a= "bmaunmdbraai"
a

'bmaunmdbraai'

In [21]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [23]:
a= "bmaunmdbraai"
b= a[0:0,2:2, 4:4, 6:6, 8:8]
print(b)

TypeError: string indices must be integers

In [31]:
d= { 102:['Shiva', 24, 'Content Strategist'],104:['Udit',25,'Content Strategist'], 105:['Huzefa',32,'Project Manager' ]}
d.keys()
d[105][2]

'Project Manager'

In [27]:
d[105][2]

'Project Manager'

In [ ]:
a= {'Name': 'Monty', 'Profession': 'Singer' }

In [33]:
a.values()

AttributeError: 'str' object has no attribute 'values'

In [34]:
sorted(a)

['a', 'a', 'a', 'b', 'b', 'd', 'i', 'm', 'm', 'n', 'r', 'u']

In [35]:
a= {'Name': 'Monty', 'Profession': 'Singer'}
sorted(a)

['Name', 'Profession']

In [36]:
a.keys()

dict_keys(['Name', 'Profession'])

In [37]:
a.values()

dict_values(['Monty', 'Singer'])

In [48]:
a= {'Name': 'Monty', 'Profession': 'Singer'}
sorted(a)
a.keys()
a[Name][3]

NameError: name 'Name' is not defined

In [1]:
d= [i for i in l if i(lower). starts with ('S','s')]
print(d)

SyntaxError: invalid syntax (<ipython-input-1-45e92875e24c>, line 1)

In [1]:
tup= (23, 4,24,-6)
x= sorted(tup)
y= tuple(x)
print(y)

(-6, 4, 23, 24)

TypeError: '>' not supported between instances of 'list' and 'int'

TypeError: '>' not supported between instances of 'list' and 'int'

In [2]:
a = 21 % 4
a

1

In [3]:
d = 23//5
print(d)

4

In [5]:

if (1):

    print (True)

True

In [6]:

if (1) print(True)

SyntaxError: invalid syntax (<ipython-input-6-928f6ca5e5e8>, line 1)

In [7]:

if (-1):

    print('True')

True

In [8]:
if (1):

    print ('True')

True

In [9]:
if (1)

    print (True)

SyntaxError: invalid syntax (<ipython-input-9-bb9305b141cc>, line 1)

In [10]:
for i in range(3):
    print(i)

0
1
2

In [11]:

print('11 12 13 \n14')

11 12 13
14

In [12]:
a=11

b=12

c=13 

d=14

print(a+b+c)

print(d)

36
14

In [13]:

a=11

b=12

c=13 

d=14

print(a,b,c)

print(d)

11 12 13
14

In [14]:
a=11

b=12

c=13 

d=14

print('{0} {1} {2}'.format(a,b,c) )

print(d)

11 12 13
14

In [15]:

a=11

b=12

c=13 

d=14

print('%d %d %d' %(a,b,c))

print(d)

11 12 13
14

In [16]:
a=11

b=12

c=13 

d=14

print(f'{a}{b}{c}')

print(d)

111213
14

In [18]:
f = (lambda a, b: a if a > b else b)
f(9,3)

9

In [29]:
in_string =input()

l= in_string.split(' , ')

x= int(l[0])
y= int(l[1])

print ('x before swapping: {0}'.format(x))
print ('y before swapping: {0}'.format(y))

z=x
x=y
y=z

print()
print ('x before swapping: {0}'.format(x))
print ('y before swapping: {0}'.format(y))

20, 50

ValueError: invalid literal for int() with base 10: '20, 50'

In [38]:
## swapping

in_string =input()

l = in_string.split(',')

x= int(l[0])
y= int(l[1])

print ("x before swapping: {0}".format(x))
print ("y before swapping: {0}".format(y))

z=x
x=y
y=z

print()
print ('x before swapping: {0}'.format(x))
print ('y before swapping: {0}'.format(y))

20, 50
x before swapping: 20
y before swapping: 50

x before swapping: 50
y before swapping: 20

In [44]:
n= int(input())

if n%2==0:
    print('even')
else:
    print('odd')

6
even

In [46]:
num= int(input())

if num % 2 == 0:
    print('Even')
else:
    print('Odd')

466467464212312
Even

In [80]:
k= int(input())

if k % 20==1:
    print('sexy')
if k % 20==2:
    print('beautiful')
if k % 20==3:
    print('pretty')

25

In [85]:
#even odd



k= int(input())

if k % 3==0:
    print('sexy')
if k % 3==1:
    print('beautiful')
if k % 3==2:
    print('pretty')

12414
sexy

In [121]:
#alarm clock

import ast
input_str =input()
l= ast.literal_eval(input_str)
dw= l[0]
vac= l[1]

def alarm (dw,vac):
    weekend =[6,7]
    if vac:
        if dw not in weekend:
            return '10:00'
        else:
            return 'off'
    else:
        if dw not in weekend:
            return '7:00'
        else:
            return ('10:00')
print(alarm (dw, vac))

3,True
10:00

In [125]:
#alarm clock

import ast
input_str =input()
l= ast.literal_eval(input_str)
dw= l[0]
vac= l[1]

def alarm (dw,vac):
    weekend =[7,1]
    if vac:
        if dw not in weekend:
            return '10:00'
        else:
            return 'off'
    else:
        if dw not in weekend:
            return '7:00'
        else:
            return ('10:00')
print(alarm (dw, vac))

7,False
10:00

In [112]:
# factorial

n= int(input())
def factorial (n):
    if n<0:
        return -1
    elif n==0:
        return 1
    else:
        f=1
        for i in range (1, n):
            f=f*i
            return f
k = factorial(n)
print(k)

3
1

In [114]:
# reverse digits

n = int(input())
r=0
while (n>0):
    r= r*10 + n%10
    n= n//10
print(r)

234535256
652535432

In [117]:
n = int(input())
r=0
while (n>0):
    r= r*10 + n%10
    n= n//10
print(r)

78910
1987

In [118]:
## chocolates where each cost 2, and total money 15, and wraapers 3

s= input()
l= s.split(',')
m= int(l[0])
c= int(l[1])
ch= m//c
w= m//c
while w//3!=0:
    ch= ch +w//3
    w= w//3 + w%3
print(ch)

15,2
10

In [126]:
## chocolates where each cost 2, and total money 20, and wraapers 4

s= input()
l= s.split(',')
m= int(l[0])
c= int(l[1])
ch= m//c
w= m//c
while w//4!=0:
    ch= ch +w//4
    w= w//4 + w%4
print(ch)

20,2
13

In [16]:
# print pattern

n= int(input())

for i in range(1,n+1):
    for j in range(n-i):
        print('',end='')
    for k in range (i-1):
        print('*-',end='')
        print ('*')

5
*-*
*-*
*-*
*-*
*-*
*-*
*-*
*-*
*-*
*-*

In [27]:
n= int(input())

for i in range(1,n+1):
    for j in range(n-i):
        print(' ',end='')
    for k in range(i-1):
        print('*_',end='')
    print ('*')

5
    *
   *_*
  *_*_*
 *_*_*_*
*_*_*_*_*

In [29]:
n= int(input())

for i in range(1,n+1):
    for j in range(n-i):
        print(' ',end='')
    for k in range(i-1):
        print('*_',end='')
    print ('*')

3
  *
 *_*
*_*_*

In [ ]:
n= int(input())

for i in range(1,n+1):
    for j in range(n-i):
        print(' ',end='e')
    for k in range(i-1):
        print('c-',end='')
    print ('c')

In [ ]:
### LISTS

In [40]:
L=[2, 3, 4, 2, 1, 2, 3]
print(L.index(2))

0

In [49]:
L = [2, 1, 2, 4, 5, 3, 6]
K = 7 in L
k

1

In [ ]:
L=[10,20,30,40,50,60,70,80,90,100]

[L[i] for i in range(1,9,2)]

In [ ]:
L=[10,20,30,40,50,60,70,80,90,100]

[L[i] for i in range(1,9,2)]

In [23]:
a= [10,20,30]
b= [45,35,25]
max(a), min(b), min(a), max(b)

(30, 25, 10, 45)

In [11]:
max(b,a), min(a,b)

([45, 35, 25], [10, 20, 30])

In [13]:
sorted(b)

[25, 35, 45]

In [16]:
input_str = input()
input_list = ast.literal_eval(s)
if len(input_list)==0:
    print('no minimum')
else:
    m = input_list[0]
    for item in input_list:
        if  item < m:
            m= item
    print(m)

[1,2,3,4,5,6,7,8,9]

NameError: name 'ast' is not defined

In [17]:
import ast
s= input()
l= ast.literal_eval(s)
if len(l)==0:
    print('no minimum')
else:
    m =l[0]
    for item in l:
        if  item < m:
            m= item
    print(m)

1,2,3
1

In [21]:
s= input()
min(s)

234,432,2341

','

In [38]:
a= [10,20,30,40]
s= sum(a)
l= len(a)
av= s/l
av
c = 352
if c> av:
    print('Yes')
else:
    print('No')

Yes

In [32]:
av= sum(a) / len(a)
print(av)

TypeError: 'float' object is not iterable

In [40]:
summary(a)

NameError: name 'summary' is not defined

In [ ]:
import ast
t= ast.literal_eval(input())
a= ast.literal_eval(input())


def cab(d,c):
    for ap in a:
    cab(t,a)
    
s= sum(t)
l= len(t)
av= s/l

if c> av:
    return 1
else:
    return 0

for ap in a:
    add= cab(t,a)
    is add==1:
        t.append(a)
print(t)

In [41]:
### CALENDER

import ast
s= input()
l= ast.literal_eval(s)
e= l
w= int(input())
clash= 0
for e1 in e:
    if e1[0]<= w and e1[1]>= w:
        clash= clash + 1
print(clash)

24
25

TypeError: 'int' object is not iterable

In [42]:

s= [[29,31],[23,26],[24,25]]
l= ast.literal_eval(s)
e= l
w= int(input())
clash= 0
for e1 in e:
    if e1[0]<= w and e1[1]>= w:
        clash= clash + 1
print(clash)

ValueError: malformed node or string: [[29, 31], [23, 26], [24, 25]]

In [ ]:
##Fenced Matrix

import ast
l= ast.literal_eval(input())
m= l[0]
n= l[1]

f= [0]*n
f= [list(f) for i in range (m)]
for i in range(m):
    for j in range(n):
        if i==0 or j==0 or i==m-1 or j==n-1:
            f[i][j] =1
for i in f:
    print(i)

In [3]:
print("Anurag A")

Anurag A

In [4]:
d = 23//5
print(d)

4

In [5]:
for i in range(3):
    print(i)

0
1
2

In [7]:
## Container- Swapping

in_string=input()
l = in_string.split(',')
x= int(l[0])
y= int(l[1])

print ("x before swapping: {0}".format(x))
print ("y before swapping: {0}".format(y))
z=x
x=y
y=z
print()
print ('x after swapping: {0}'.format(x))
print ('y after swapping: {0}'.format(y))

20,50
x before swapping: 20
y before swapping: 50

x after swapping: 50
y after swapping: 20

In [8]:
a = 11
b = 7

a, b = b, a

print(a)
print(b)

7
11

In [9]:
a = 11
b = 7

temp = a
a = b
b = temp

print(a) # 7
print(b)

7
11

In [12]:
a = 11
b = 7

a = a + b # a = 18, b = 7
b = a - b # a = 18, b = 11
a = a - b # a = 7,  b = 11

print(a)
print(b)

7
11

In [13]:
## odd- even

k=int(input())
if k % 3==0:
    print('sexy')
if k % 3==1:
    print('beautiful')
if k % 3==2:
    print('pretty')

34
beautiful

In [14]:
n= int(input())
if n%2==0:
    print('even')
else:
    print('odd')

23
odd

In [ ]:
## Alarm clock

In [15]:
## Factorial

n= int(input())
def factorial (n):
    if n<0:
        return -1
    elif n==0:
        return 1
    else:
        f=6
        for i in range (1, n-1):
            f=f*i
            return f

4

In [19]:
n= int(input())
def factorial (n):
    if n<0:
        return -1
    elif n==0:
        return 1
    else:
        f=1
        for i in range (1, n+1):
            f=f*i
            return f
k=factorial(n)
print(k)

-4
-1

In [20]:
### reverse digit

n = int(input())
r=0
while (n>0):
    r= r*10 + n%10
    n= n//10
print(r)

23424
42432

In [21]:
## chocolates

s= input()
l= s.split(',')
m= int(l[0])
c= int(l[1])
ch= m//c
w= m//c
while w//3!=0:
    ch= ch +w//3
    w= w//3 + w%3
print(ch)

15,2
10

In [23]:
s= input()
l= s.split(',')
m= int(l[0])
c= int(l[1])
ch= m//c
w= m//c
while w//2!=0:
    ch= ch +w//2
    w= w//2 + w%2
print(ch)

20,2
19

In [24]:
n= int(input())
for i in range(1,n+1):
    for j in range(n-i):
        print(' ',end='')
    for k in range(i-1):
        print('*_',end='')
    print ('*')

5
    *
   *_*
  *_*_*
 *_*_*_*
*_*_*_*_*

In [25]:
L=[2, 3, 4, 2, 1, 2, 3]
print(L.index(2))

0

In [ ]:
#input have been taken for you here
import ast
s= input()
l= ast.literal_eval(s)
if len(l)==0:
    print('no minimum')
else:
    m =l[0]
    for item in l:
        if  item < m:
            m= item
    print(m)

In [26]:
import ast
l= ast.literal_eval(s)
s= input()
min(s)

23,345,231,1323

','

In [28]:
s= [1,2,3,4,5,6,7,8,9]
min(s)

1

In [29]:
s= [23,345,231,1323]
min(s)

23

In [32]:
s1= sorted(s)
print(s1[1])
print(s1)

231
[23, 231, 345, 1323]

In [33]:
n= int(input())
print("Positive" if n >=0 else "Negative")

-2
Negative

In [34]:
print( 231 in s1)

True

In [35]:
a= {1,2,3,4,5}
b= [5,6,7,8,9]
print(a.union(b))
print(a.intersection(b))
print(a.difference(b))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{5}
{1, 2, 3, 4}

In [36]:
print( 5 in b)

True

In [39]:
a.add(10)
print(a)

{1, 2, 3, 4, 5, 10}

In [40]:
a.remove(2)
print(a)

{1, 3, 4, 5, 10}

In [41]:
len(a)

5

In [42]:
"AnurGa"== "anurag"

False

In [1]:
print(chr(51))

3

In [7]:
chr(123)

'{'

In [8]:
lst = [1,2,[3,4],[5,[100,200,[True,'hello'], False],'hi'],10,11]
print(lst[3][1][2][1])

hello

In [9]:
dct = {'here':[1,2,3,{'target':(False,{'color':'black','greetings':['hello world']})}]}
print(dct['here'][3]['target'][1]['greetings'][0][0:5])

hello

In [10]:
# Program to generate a random number between 0 and 9

# importing the random module
import random

n= random.randint(1,10) # number by comp
r= int(input()) #number choseen by us

meter=1 
while meter<=3:
    if r>n:
        print('Too High')
    elif r<n:
        print("too low")
    else:
        print('you won')
        break
    meter= meter+1
if meter==4:
    print('you lost')
print('game over')

4
too low
too low
too low
you lost
game over

In [11]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [12]:
for i in range(5,0,-2):
    print(i)

5
3
1

In [1]:
print("Anurag  weds  Sangeets")

Anurag  weds  Sangeets

In [2]:
## reverse or Anagram

a= ('anurag and sangeeta')
print(a[::-1])

ateegnas dna garuna

In [3]:
a= [10,20,30,40]
d= a[0]
c= a[1]
s= sum(d)
l= len(d)
av= s/l
if c>av:
    print('yes')
else:
    print('no')

TypeError: 'int' object is not iterable

In [5]:
a = [10,20,20,40]
d= a[0]
c= a[1]
s= sum(d)
l= len(d)
av= s/l
if c> av:
    print('True')
else:
    print('False')

TypeError: 'int' object is not iterable

In [10]:
## PALINDRONE

s= input()
s=s.lower()

r= s[::-1]

if s==r:
    print(1)
else:
    print(0)

Hannah
1

In [7]:
s= input()
s=s.lower()

r= ""

for i in s:
    r= i+r
if r==s:
    print(1)
else:
    print(0)

AnnurAg
0

In [9]:
s= input()
s=s.lower()

r= ""

for i in s:
    r= i+r
if r==s:
    print(1)
else:
    print(0)

hannah
1

In [11]:
## Reverse command for alphabates and words in sentence
s= input()
print(s[::-1])

Anurag
garunA

In [12]:
s= input()
w= s.split(' ')
r= w[::-1]
f= ' '.join(r)
print(f)

anurag loves gym
gym loves anurag

In [13]:
s= input()
w= s.split(' ')
w.reverse()
f= ' '.join(w)
print(f)

anurag loves bikking
bikking loves anurag

In [15]:
s= input()
w= s.split(' ')
print(' '.join(w[::-1]))

anurag loves swim
swim loves anurag

In [16]:
s= input()
print(s[::-1])

anurag loves swim
miws sevol garuna

In [21]:
## No Space

s= input()
w= s.split(' ')
f= [word.title() for word in w]
f1= '_'.join(f)

print(f1)

data science
Data_Science

In [22]:
s= input()
w= s.split(' ')
f= [word.title() for word in w]
f1= '*'.join(f)

print(f1)

anurag sangeeta
Anurag*Sangeeta

In [32]:
s= input()
w= s.split(' ')
f= [word.title() for word in w]
f1= '***'.join(f)

print(f1)

anurag sangee
Anurag***Sangee

In [34]:
## Vowels

s= input()
v= "aeiouAEIOU"
v1=""
o=""

for i in s:
    if i in v:
        v1= v1+i
    else:
        o=o+i
    f= (v1+o)
print(f)

sangeeta
aeeasngt

In [1]:
s= input()
v= "aeiouAEIOU"
v1=""
o=""

for i in s:
    if i in v:
        v1= v1+i
    else:
        o=o+i
    f= (o+v1)
print(f)

anuragagarwal
nrggrwlauaaaa

In [36]:
## Common prefix

s1= input()
s2= input()
s1= s1.lower()
s2= s2.lower()

l1= len(s1)
l2= len(s2)
l= min(l1,l2)

for i in range(l):
    if s1[i]!= s2[i]:
        break
if i==0:
    print(-1)
    
else:
    print(s1[:i])

anurag
Anuraag
anura

In [37]:
## Anagram
s1= input()
s2= input()

def anagram(s1,s2):
    if len(s1)!=len(s2):
        return False
    for i in range (len(s1)):
        if s1.count(s1[i])!= s2.count(s2[i]):
            return False
    return True

print(anagram(s1,s2))

thing
night
True

In [38]:
s1= input()
s2= input()

def anagram(s1,s2):
    if len(s1)!=len(s2):
        return False
    for i in range (len(s1)):
        if s1.count(s1[i])!= s2.count(s2[i]):
            return False
    return True

print(anagram(s1,s2))

anurag
sangee
False

In [7]:
## Remove Duplicate

import ast
l= ast.literal_eval(input())

d= {}
for item in l:
    if item not in d:
        d[item]=1
print(list(d.keys()))

[4,4,4,4]
[4]

In [10]:
import ast
l= ast.literal_eval(input())

d= {}
for item in l:
    if item not in d:
        d[item]=1
    else:
        d[item]= d[item]+1
print(list(d.keys()))

[2,2,2,4,5,3,7,7,9,3,5]
[2, 4, 5, 3, 7, 9]

In [12]:
### Dictonary- List

import ast
s= input()
d= ast.literal_eval(s)

f= []
for key in d.keys():
    for word in d[key]:
        f.append(key+'_'+word)
print(f)

{ 'Pen': ['Gel', 'Ink', 'ball'], 'Mobile': ['Android', 'apple'] }
['Pen_Gel', 'Pen_Ink', 'Pen_ball', 'Mobile_Android', 'Mobile_apple']

In [16]:
import ast
s= input()
d= ast.literal_eval(s)

f= []
for key in d.keys():
    for word in d[key]:
        f.append(key+':'+word)
print(f)

{'Mobile': ['Redmi', 'Samsung', 'Realme'], 'Laptop': ['Dell', 'HP'], 'TV':['Videocon', 'Sony'] }
['Mobile:Redmi', 'Mobile:Samsung', 'Mobile:Realme', 'Laptop:Dell', 'Laptop:HP', 'TV:Videocon', 'TV:Sony']

In [21]:
s= input()
d= ast.literal_eval(s)

f= []
for key in d.keys():
    for word in d[key]:
        f.append(key+'='+word)
print(f)

{ 'Pen': ['Gel', 'Ink', 'ball'], 'Mobile': ['Android', 'apple'] }
['Pen:Gel', 'Pen:Ink', 'Pen:ball', 'Mobile:Android', 'Mobile:apple']

In [26]:
## upgrade string

s= input()
d={}
for i in s:
    if i not in d:
        d[i]=1
    else:
        d[i]=d[i]+1
v= d.values()
n= len(d)

def upgrade(v):
    for i in range (1, n+1):
        if i not in v:
            return False
    return True

print(upgrade(v))

anjhqdhfqe
False

In [25]:
s=input()
d={}

for i in s:
    if i not in d:
        d[i]=1
    else:
        d[i] = d[i]+1

v= d.values()

n= len(d)

def upgrad_string(v):
    for i in range (1,n+1):
        if i not in v:
            return False
    return True

print(upgrad_string(v))

ab#ab#ab6a
True

In [27]:
## Balanced Bracket

inp =input()
stack =[]

for i in inp:
    if len(stack)==0:
        stack.append(i)
    else:
        if i==')' and stack[-1]== '(':
            stack.pop()
        elif i=='}' and stack[-1]=='{':
            stack.pop()
        elif i==']' and stack[-1]=='[':
            stack.pop()
        else:
            stack.append(i)

if stack:
    print('No')
else:
    print('Yes')

){[[]]}())()
No

In [28]:
## Balanced Bracket

inp =input()
stack =[]

for i in inp:
    if len(stack)==0:
        stack.append(i)
    else:
        if i==')' and stack[-1]== '(':
            stack.pop()
        elif i=='}' and stack[-1]=='{':
            stack.pop()
        elif i==']' and stack[-1]=='[':
            stack.pop()
        else:
            stack.append(i)

if stack:
    print('No')
else:
    print('Yes')

{{{{{}}}}}[[[[]]]]()()
Yes

In [33]:
s= {'mobile1':10000, 'mobile2':11000, 'mobile3':13000, 'mobile4':9000, 'mobile5':15000, 'mobile6':16000, 'mobile7':17000, 'mobile8':18000, 'mobile9':19000}
d= s.values()

AttributeError: 'dict' object has no attribute 'split'

In [30]:
min(d)

9000

In [32]:
sorted(s)

['mobile1',
 'mobile2',
 'mobile3',
 'mobile4',
 'mobile5',
 'mobile6',
 'mobile7',
 'mobile8',
 'mobile9']

In [35]:
## Cheapest item

import ast 
items=ast.literal_eval(input())

#we assign cheapest_item as first key of the items
cheapest_item=list(items.keys())[0]

#we check every key and see if its cheaper than our cheapest_item
for key in items.keys():
    if items[key]<items[cheapest_item]:
        cheapest_item=key #it its cheaper then we update out cheapest_item

#print it
print('{0}: {1}'.format(cheapest_item, items[cheapest_item]))

{'mobile1':10000, 'mobile2':11000, 'mobile3':13000, 'mobile4':9000, 'mobile5':15000, 'mobile6':16000, 'mobile7':17000, 'mobile8':18000, 'mobile9':19000}
mobile4: 9000

In [37]:
n= int(input())
alpha="abcdefghijklmnopqrstuvwxyz"
s=""

l=[]

for i in range(n):
    s="-".join(alpha[i:n])

    l.append(s[::-1]+s[1:])

length=len(l[0])

for i in range(n-1,0,-1):
    print(l[i].center(length,"-"))
    
for i in range(n):
    print(l[i].center(length,"-"))

5
--------e--------
------e-d-e------
----e-d-c-d-e----
--e-d-c-b-c-d-e--
e-d-c-b-a-b-c-d-e
--e-d-c-b-c-d-e--
----e-d-c-d-e----
------e-d-e------
--------e--------

In [40]:
## Armstromg number

n=int(input())

arm=0
i=0
check=n
while n>0:
    i=n%10
    arm=arm+i**3
    n=n//10

if arm==check:
    print("armstrong")
else:
    print("no")

1634
no

In [41]:
n=int(input())

arm=0
i=0
check=n
while n>0:
    i=n%10
    arm=arm+i**3
    n=n//10

if arm==check:
    print("armstrong")
else:
    print("no")

371
armstrong

In [45]:
num=int(input())


def primen(n):
    f=0    
    for i in range(2,n):
        if n%i==0:
            f=f+1
    return(f)
count=0
for i in range(2,num+1):
    if primen(i) ==0:
        count=count+i
print(count)

5
10

In [46]:
m=int(input())
c=int(input())
w=int(input())
k=int(input())

choc=m//c
wrap=m//c

while wrap//w!=0:
    choc=choc+k*(wrap//w)
    wrap=k*(wrap//w)+wrap%w
print(choc)

15
2
3
1
10

In [47]:
s= input()
l= s.split(',')
m=int(l[0])
c=int(l[1])
w=int(l[2])
k=int(l[3])

choc=m//c
wrap=m//c

while wrap//w!=0:
    choc=choc+k*(wrap//w)
    wrap=k*(wrap//w)+wrap%w
print(choc)

15,2,3,1
10

In [48]:
s= input()
l= ast.literal_eval(s)
s1= sorted(l)
print(s1[-2])

3,5,4,7,9
7

In [53]:
s= input()
l= ast.literal_eval(s)
l=list(set(l))
s1= sorted(l)
print(s1[-2])

4,5,5,6,7
6

In [55]:
s= ((500//7) % 5) ** 3
print(s)

1

In [56]:
T = (3, 5, 7, 11)
T.append(9)
print(T)

AttributeError: 'tuple' object has no attribute 'append'

In [57]:
D = {1:['Raj', 22], 2:['Simran', 21], 3:['Rahul', 40]}
for val in D:
     print(val)

1
2
3

In [59]:
l= [1,2,4,5]
l.pop()

5

In [60]:
print(l)

[1, 2, 4]

In [1]:
string1="abcd"
string2="edabc"


#write code to find the extra character here

#we will iterate over longer string
#first we find longer string
if len(string2)>len(string1):
    longer=string2
else:
    longer=string1
#we then iterate over longer string checking count
#of that character in both strings

for i in longer:
    if string1.count(i)!=string2.count(i):
        print(i)
        break

e

In [ ]:
x =input()
w= type(x)

if w== int:
    print(INT)
if w== 'str':
    print(STR)
else:
    print('not sure')

### x =input()
w= type(x)
print(w)

In [15]:
n =input()
n = n.strip()

if all(n[i] in "0123456789" for i in range(len(n))):
    print("INT")
elif (n[0] in "+-") and \
    all(n[i] in "0123456789" for i in range(1,len(n))):
    print("INT.")
else:
    print("STR")

13.4
STR

In [ ]:
## isdigit
n =input()
s= "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ"
n1="0123456789"

s1= n.split()


for i in s1:
    if i in s1==n1:
        print("INT")
    elif i in n1 not in n:
        print("STR")

In [1]:
print('anurag')

anurag

In [16]:
n= input()
s= type(n)
s1=int('s')
print(s1)

2,335

ValueError: invalid literal for int() with base 10: 's'

In [8]:
a = int(input("Input an integer : "))
n1 = int( "%s" % a )
n2 = int( "%s%s" % (a,a) )
n3 = int( "%s%s%s" % (a,a,a) )
print (n1+n2+n3)

Input an integer : 3
369

In [13]:
n = input('n: ')
s = 0
for i in range(1, int(n) + 1):
    s += int(n * i) # n is a string, multiplying with int results in replication

print(s)

n: 3
369

In [19]:
## replace comma

s= input()
p= int(s.replace(',',''))
print(p)

2,34,567
234567

In [20]:
d= input()
l={}
for i in d:
    if i not in l:
        l[i]=1
    else:
        l[i]=l[i]+1
print(list(l.keys()))

["pasta","pasta","pasta","pasta","pasta","paratha","paratha","paratha"]
['[', '"', 'p', 'a', 's', 't', ',', 'r', 'h', ']']

In [21]:
L1 = ['Vikas', 'Akshay', 'Sanskar', 'Mahima']
print(L1[1][-1])

y

In [4]:
n= input()
if n.isdigit():
    print('INT')
else:
    print('STR')

23f
STR

In [3]:

a= int(input())
b= int(input())
c= int(input())
a,b,c= b,c,a
print(a,b,c)

1
2
3
2 3 1